[2020-08-29 01:14] colbyfayock opened #1 "Add Search"
~WP Rest seems to have a search endpoint we can take advantage of~

* Search index exists using Webpack Compiler (can this be improved)?
* Add a React hook that can be used throughout the application to make quick searches
* Add Fuse.js for fuzzy search
* Add clientside search to homepage

[2020-08-29 01:44] colbyfayock opened #2 "Features"
optional feature image for blog home and each post or page
code blocks
nav / menu links
pinned / featured post
pagination
tags / related posts / categories
date field (posted and last edited )
social preview image

[2020-08-29 01:56] colbyfayock commented on #2
how do images work?

[2020-09-23 17:55] doingandlearning commented on #1
Though if you're going to statically build the site I'm guessing this is less relevant?

[2020-09-23 19:47] colbyfayock commented on #1
@doingandlearning yeah - i forgot to follow up on my comment here.

i think i talked to you about this? haha but id love to get your feedback on this:

https://github.com/colbyfayock/next-wordpress-starter/blob/master/plugins/search-index.js

the implementation isn't done yet - but i created that plugin that compiles a json file from the wordpress posts API that allows you to create a little index

[2020-10-01 02:22] colbyfayock opened #4 "Use Blocks instead of Rendered Content"
The post content is currently using standard rendered content and using `dangerouslySetInnerHTML` to set that HTML content. We would ideally use Blocks to take full advantage of the Gutenberg editor when building content.

[2020-10-01 02:25] colbyfayock opened #5 "Use GraphQL to query WordPress data"
Currently, we're using the WordPress REST API to fetch page data. This works, but we can optimize and simplify requests especially when moving into more complex features by using GraphQL queries using the WordPress GraphQL API.

## Questions
* Would this require an additional plugin or does this work "out of the box"?

[2020-10-01 02:27] colbyfayock opened #6 "Add stylized code snippets"
We should take advantage of libraries that allow us to provide syntax highlighting to code blocks. This may depend on moving to using Blocks for content https://github.com/colbyfayock/next-wordpress-starter/issues/4

## Questions
* How can this be configured within the content editor?

[2020-10-01 02:28] colbyfayock opened #7 "Menu support"
WordPress allows the ability to manage menus within the editor to easily make changes to navigation and other menus.

The goal of this will be to seed this functionality into the project with a starting point of making it possible to change the Navigation as a Menu

If there is no Navigation menu created, the project should work as it is (or propose a different default configuration) so that not h

[2020-10-01 02:29] colbyfayock opened #8 "Pinned post support"
Content editors should be able to pin a blog post using the WordPress editor

In WordPress this feature is called "Sticky"

I've gone ahead and made the post with slug `i-love-you-buddy` sticky. If you look in the JSON response, the post that's sticky has an attribute of `sticky: true`.

http://54.243.240.9/wp-json/wp/v2/posts

You can make multiple posts sticky.

We probably will want to find the

[2020-10-01 02:31] colbyfayock opened #9 "Pagination"
Determine a strategy for pagination or loading more results for a list of posts

## Questions
* Should it be "load more"?
* Should we use traditional pagination with numbers, next, and prev?
* Would the pagination be page-based? Would that use getStaticPaths?

Before this is picked up, please propose a plan for moving forward on how to go about this both technically and how it will appear in the U

[2020-10-01 02:33] colbyfayock opened #10 "Display post category and tags"
We should show the categories and tags of posts

This ideally can be configurable so someone can turn them off from the display

We should also include these attributes in the search index, both in the search-index-compiler.js and in the fuse.js instance inside of useSearch

[2020-10-01 02:34] colbyfayock opened #11 "Archive pages (categories, tags, etc)"
We should provide pages that include all posts for a given tag or category

[2020-10-01 02:36] colbyfayock opened #12 "WordPress Plugin support"
Ideally the starter could easily support common plugins

How can we provide opt-in support to things like ACF without adding a bunch of code right into the starter? can we?

[2020-10-01 02:37] colbyfayock opened #13 "Social Preview Images"
Can we provide generated social preview images for posts without requiring an additional service?

[2020-10-01 02:38] colbyfayock opened #14 "Static Media"
Should we pull down media on compile and download it locally or reference those items via a CDN like WordPress Photon?

[2020-10-01 02:38] colbyfayock opened #15 "Date fields"
Add date fields like created and last edited to posts

[2020-10-01 02:40] #2 closed

[2020-10-01 02:44] colbyfayock commented on #13
https://github.com/tkrkt/text2png

[2020-10-01 02:47] colbyfayock commented on #14
Early idea to pull down images https://github.com/colbyfayock/next-wordpress-starter/pull/3

[2020-10-01 14:48] doingandlearning commented on #15
Great idea - these are available on the REST API.

Is this adding these to the post template or to the search.json or both?

[2020-10-01 15:33] colbyfayock opened #16 "Documentation"
We'll want ot add documentation for all of the features that can be configured

I think it would be nice to use WordPress to build the documentation - that way we're able to develop features around a real WordPress site

* Updating the homepage via `package.json`
* Updating / generating favicons
* Updating site manifest file

[2020-10-02 01:08] colbyfayock opened #17 "Linting and formatting"
Add some basic linting and formatting for the project

[2020-10-02 02:40] #17 closed

[2020-10-02 02:43] colbyfayock opened #19 "All Contrib"

[2020-10-02 02:43] colbyfayock commented on #19
@all-contributors please add @colbyfayock for code, docs

[2020-10-02 02:44] #19 closed

[2020-10-03 02:25] colbyfayock opened #22 "Add ability to navigate search results with keyboard arrow keys"
When someone makes a search, we show a list of results that match that search

We should allow someone to navigate that list using their arrows keys to change the focus of which element is selected, in addition to the already supported-by-default tab key

The feature needs to not negatively impact accessibility

The search form and results are inside of the Nav.js component:
https://github.com/col

[2020-10-03 21:35] #1 closed

[2020-10-03 21:52] colbyfayock commented on #9
We should probably wait to do this until the GraphQL Issue is resolved

https://github.com/colbyfayock/next-wordpress-starter/issues/5

[2020-10-03 21:54] colbyfayock commented on #4
We should probably wait to do this until the GraphQL Issue is resolved

https://github.com/colbyfayock/next-wordpress-starter/issues/5

[2020-10-03 21:56] colbyfayock commented on #15
I added the Date field to the post list and the post page.

We probably only want to add the Last Edited to the Post Page, not on the homepage or archive list

we also want to definitely include these in the search index created in search-index-compiler so we can sort on them

[2020-10-04 01:04] colbyfayock commented on #7
it seems like this requires a plugin to take advantage in the API

maybe this can be a tutorial for how to add it or a plugin to extend?

[2020-10-04 06:22] doingandlearning commented on #5
I’m going to mess around on this today.

[2020-10-04 06:28] doingandlearning commented on #5
Here is an example from the Next repo. Looks like we need to use the Apollo client. https://github.com/vercel/next.js/tree/canary/examples/with-apollo

[2020-10-04 12:24] colbyfayock commented on #5
sounds awesome, haven't worked with apollo before, so should be cool to see

[2020-10-04 16:34] colbyfayock opened #25 "SEO & Metadata"
Verify all pages include unique meta tags including title, description, and open graph

There's a separate ticket to explore dynamic social media imges

Should also include generating a favicon image

- [x] Page Titles
- [ ] Descriptions
- [x] og:url

Images will be handled in https://github.com/colbyfayock/next-wordpress-starter/issues/13

[2020-10-04 16:36] colbyfayock opened #26 "RSS Feed"
We should generate an RSS feed

Can we take advantage of the work we're already doing for the search index?

[2020-10-04 16:51] colbyfayock opened #27 "Sitemap"
We should provide an automatically generated sitemap.xml  file

Can we  take advantage of the work we did with the search index?

Is there a plugin we can roll this into dynamically?

[2020-10-04 17:46] doingandlearning commented on #4
I'm happy to look at this :)

[2020-10-04 17:47] doingandlearning commented on #7
Now we have GraphQL this should be fun to do.

[2020-10-04 19:15] doingandlearning commented on #5
Is this closed with the recent merges?

[2020-10-04 19:35] colbyfayock commented on #5
i think thats fair :) we can iteratively hit the... rest 👀

[2020-10-04 19:35] #5 closed

[2020-10-04 20:19] doingandlearning commented on #4
https://github.com/pristas-peter/wp-graphql-gutenberg - this plugin exposes the block content to graphql

[2020-10-05 13:36] colbyfayock commented on #4
sounds like we should move forward with that then 🤷

[2020-10-09 11:28] doingandlearning commented on #4
I think that the only way to do this - seperate content from markup - is to use ACF (advanced custom fields) on the backend and query for the firleds that are used.

I'd also recommend not allowing any Gutenberg blocks in the first instance.

This issue now is a documentation issue and maybe there is a version which just uses dangerouslySetInnerHTML?

[2020-10-09 22:59] colbyfayock commented on #4
do you think we want to or do you think it would make sense to still use blocks using the rendered HTML? my only thinking is maybe there could be instance where we would want to provide custom components for blocks making it more flexible. so the change here would essentially be still moving to blocks, but using `dangerouslySetInnerHTML` with the blocks

thoughts?

[2020-10-12 02:00] colbyfayock commented on #11
I started the idea of an archive page with /search - there's a template (templates/archive.js) that we may be able to use for all of these given they're typically the same looking page. see /pages/search.js for implementation

[2020-10-12 02:01] colbyfayock commented on #5
Just closing the loop here - i wrapped up migrating everything else to GraphQL

https://github.com/colbyfayock/next-wordpress-starter/pull/30

[2020-10-12 02:08] colbyfayock opened #31 "Author Details"
Add author details to posts

[2020-10-12 02:25] colbyfayock opened #32 "Add tests to harden site functionality"
We should set up tests for the different functions that the site depend on

This includes things located in the various lib files

Jest?

[2020-10-12 12:44] #31 closed

[2020-10-12 12:45] colbyfayock commented on #11
See also /authors/[slug].js for another example

[2020-10-12 12:51] colbyfayock opened #34 "Typography"
I'd really like to work on providing a great reading experience with this Starter by default

I'm not sure if there are any good drop-ins or if we want to manually work through the typography, but it definitely needs work, as it's kind of just droppped in right now

open to ideas to discuss this, but the solution should be CSS based

[2020-10-12 13:07] colbyfayock opened #35 "Author URL should be based on Name"
Currently because of the way that we have to query user data via GraphQL, we're using the slug for the author pages

We can instead parameterize the author's full name providing a friendlier URL

https://github.com/fyalavuz/node-parameterize

Doing this consistently, then using that value to look up the parameterized versions of the author's name in the all users query which we're already making c

[2020-10-12 13:09] lelouchB commented on #27
Hey
Is this something that we can use
https://wordpress.org/plugins/google-sitemap-generator/

First time with WordPress 😁

[2020-10-12 13:14] colbyfayock commented on #27
thats a good question @lelouchB we would have to see if the sitemap structure is queryable from GraphQL

that said, i'm somewhat trying to avoid plugins. if you look at the files in plugins, im currently building an index of the site using the content information and manually building it, i would think we could do something similar with the sitemap 🤔

[2020-10-12 13:17] lelouchB commented on #27
Yeah sure
I understand
I will start exploring the project and then try to pick up an issue

Thanks

[2020-10-12 14:46] colbyfayock opened #37 "Build / Deploy fails due to empty wp-search.json"
Noticed this happen at least two times now, it seems like during the build, the wp-search.json file ends up empty and ends up failing due to it

I haven't been able to reproduce locally yet

![image](https://user-images.githubusercontent.com/1045274/95759757-1f8ee780-0c78-11eb-9b3a-c8967f711970.png)

[2020-10-12 14:47] colbyfayock commented on #10
Added the category to posts via https://github.com/colbyfayock/next-wordpress-starter/pull/36

[2020-10-12 14:47] colbyfayock commented on #11
Added category pages via https://github.com/colbyfayock/next-wordpress-starter/pull/36

[2020-10-13 02:16] colbyfayock opened #38 "WordPress Theme to Streamline Installation"
There are a few core things needed to make this work with WordPress, maybe we can figure out a way to make a WordPress theme to easily get that done

* WP GraphQL
* WP GraphiQL

[2020-10-13 19:17] GuilleAngulo opened #40 "Minor bug rendering Site Title when containing HTML entities"
### Description

If the WordPress Site Title contains any entity character, like **apostrophe** or **&**, it haves problems of "double" codification at **Nav component** and at **title tag**.

### Screenshots

|Bug                    |
| ---------------------------------- |
| ![apostrophe-encode](https://user-images.githubusercontent.com/50624358/95905621-7a573a80-0d6f-11eb-8173-2656653a77ac.png)|

[2020-10-13 21:58] colbyfayock commented on #40
ah great catch @GuilleAngulo i'll try to get a fix in

[2020-10-14 00:03] #40 closed

[2020-10-15 02:54] colbyfayock opened #44 "Microformat"
We should add logical microformats throughout the site

http://microformats.org/
https://microformats.io/
https://developer.mozilla.org/en-US/docs/Web/HTML/microformats

[2020-10-15 02:58] #15 closed

[2020-10-15 03:11] colbyfayock opened #47 "Site Footer"
The footer should be updated to include important details such as:
* Latest posts?
* Link to all posts
* Website info + copyright
* Categories?
* Pages?

What's typical in a "standard" WordPress site?

[2020-10-15 03:12] #11 closed

[2020-10-15 03:14] colbyfayock commented on #11
As of this last MR we now have:
* All Posts
* Category posts
* Author posts
* Search (this may need some thinking if we want to apply more here - currently it doesn't show the exceprt as we dont have it with the search index

[2020-10-15 03:18] colbyfayock commented on #10
Closing this out as we dont have a strong use case for Tags yet - will reopen if we figure out a good use

[2020-10-15 03:19] #10 closed

[2020-10-15 16:00] GuilleAngulo commented on #8
Hi again!
I made a test and the default behaviour at Wordpress and Twitter is to put the sticky post at the top but does not repeat again at its position. Maybe is a good idea to do it this way.

Here a suggestion I made for the design 😃 (using the Font Awesome pin icon, in order to follow the other styles):

![sticky](https://user-images.githubusercontent.com/50624358/96154891-ae546c00-0ee5-11eb-

[2020-10-15 19:10] GuilleAngulo commented on #8
Trying to get _sticky_ information with **wp-grapqhl plugin**, I realized that this field is not available yet. However researching a little bit I discovered that they have added this field to the development branch only few days ago as **isSticky** field: https://github.com/wp-graphql/wp-graphql/pull/1495.

[2020-10-16 01:17] colbyfayock commented on #8
the design mockup looks great! i might even go as far as saying you might not need the text "Sticky Post" visually there, though youd probably want to have that available for screen readers

thats so strange they dont expose that with it being in the REST API. i don't understand why little things like that are different 😂

i think the sorting makes sense for sure! didn't think about doing it that

[2020-10-16 02:59] colbyfayock opened #50 "ESC key should close search dialogue"
When making a search, we should a dropdown with autocomplete results

If that dropdown is open and someone clicks outside of that box, we clear the search and close the modal

If someone presses ESC while that dropdown is open, we should similarly cleare the search and close the modal

we can use the document onClick functionality as an example of how to implement in Nav.js

`addDocumentOnClick`,

[2020-10-16 03:38] colbyfayock opened #51 "Favicon"
Should we include a different favicon or use what comes with the default Next.js template?

Adding a custom Favicon should be an easy thing to do from a Starter user perspective

[2020-10-16 03:39] colbyfayock opened #52 "Better meta descriptions"
I set up meta descriptions in to basic patterned values with the goal of getting _something_ in there.

It would be great to write and customize these to look a bit better. They still need to be a pattern as the use case here is that the pages would change

Future work can include a tutorial about how to add ACF or Yoast to customize this from within WP

Please propose the written solutions before

[2020-10-16 04:03] #25 closed

[2020-10-16 16:28] GuilleAngulo commented on #8
Perfect, will prepare that PR then. About the text "sticky post" totally agree, I´ll leave only the pin icon and add to it an aria-label in order to make it readable for screen readers. 👍

[2020-10-16 17:08] colbyfayock commented on #8
awesome 💪  thanks @GuilleAngulo

[2020-10-16 17:59] itsthecheat commented on #50
Hello! If this is available I'd be happy to work on it

[2020-10-16 18:10] colbyfayock commented on #50
@itsthecheat all yours!

[2020-10-16 19:57] GuilleAngulo commented on #35
Would like to give a try :raising_hand:

[2020-10-16 20:05] colbyfayock commented on #35
sure thing! let me know if you have any questions about it

[2020-10-16 22:24] GuilleAngulo commented on #35
Ok, here is what I though (Also to clear the structure in my head 😆). Please let me know if something is wrong or missing, or exists a better approach:

At _Metadata_:

- Change **Author Link** href to be **/authors/${parameterize(name)**. (Is this the only link to the author's page?

At _authors/[slug]_ page:

- **getStaticProps**. Get the user by checking the new received url param with the arra

[2020-10-17 02:22] colbyfayock commented on #22
Added in #49

[2020-10-17 02:22] #22 closed

[2020-10-17 02:35] colbyfayock commented on #35
Author Link: Yeah, I believe that's the only spot. we will probably want to update `authorPathBySlug` to a new function that represents what we're doing with the`parameterize` inside it . `authorPathByName` maybe? and then you can use that function to build the path everywhere

The rest i think sounds right!

[2020-10-17 14:54] GuilleAngulo commented on #35
Yes! Made that way, adding two new functions to users lib file. And I kept authorPathBySlug and getUserBySlug in case they are needed in future.

[2020-10-17 15:53] colbyfayock commented on #9
GraphQL is now used throughout the project so this is fair game

[2020-10-17 16:01] colbyfayock opened #59 "Parent / Child Page Support"
We should support the ability to have both Parent and Child pages

I'm not sure how this would currently compile, but we need to investigate that and where the path would be

If for instance, we have a Parent / Child relationship with a parent page called Docs with a slug of `docs` and a child page of Getting Started with a slug of `getting-started`, the page should be available at `/docs/getting-

[2020-10-17 17:04] arifsetyo21 commented on #44
which part to add microformat?

[2020-10-17 18:16] colbyfayock commented on #44
hey @arifsetyo21 i'm hoping to add as much coverage as makes sense, so that includes author information, post information, website information. it would be great if as part of this issue, the person who takes it tries to figure out what all make sense

[2020-10-17 19:27] arifsetyo21 commented on #44
Okay, can i do this issue?

[2020-10-18 00:22] colbyfayock commented on #44
sure thing :) let me know if you have any issues!

[2020-10-18 00:24] #35 closed

[2020-10-18 03:16] #51 closed

[2020-10-18 03:34] colbyfayock commented on #37
Added logging which makes it abundantly clear this plugin runs way too often 😳

How can we only run this once per build?

![image](https://user-images.githubusercontent.com/1045274/96358073-2f238b80-10d1-11eb-9894-e57f7a403887.png)

[2020-10-18 12:00] jatin-rathee commented on #50
@colbyfayock can I work on this one?

[2020-10-18 12:25] colbyfayock commented on #50
hey @jatin-rathee I believe @itsthecheat is working on it, but if they don't end up getting to it then it's all yours

[2020-10-18 17:30] DhrutikPatel commented on #52
Hello @colbyfayock can I do this task?

[2020-10-18 18:20] colbyfayock commented on #52
hey @DhrutikPatel sure thing - before you start on any changes, can you present your idea here? thanks

[2020-10-18 21:40] colbyfayock commented on #34
Some options so far, open to more:
* https://github.com/tailwindlabs/tailwindcss-typography
* https://github.com/kognise/water.css [npm link](https://www.npmjs.com/package/water.css)

[2020-10-19 00:31] colbyfayock commented on #8
Will be available in v0.14.0 https://github.com/wp-graphql/wp-graphql/pull/1513

[2020-10-19 00:36] colbyfayock opened #66 "Search index compiler should use GraphQL"
We should update the search index compiler to use GraphQL to build the index to conform to the rest of the project

[2020-10-19 00:39] colbyfayock opened #67 "Featured Image Support"
Add support to show featured images if they're available on a post or page

[2020-10-19 01:25] colbyfayock commented on #67
Added via https://github.com/colbyfayock/next-wordpress-starter/commit/a93d8e866c028ba9312fce23bdaccbbadca9b4e4

[2020-10-19 01:25] #67 closed

[2020-10-19 03:29] colbyfayock opened #69 "Responsive Site Navigation"
I'm happy with the "desktop" experience for larger devices, but I didn't put a ton of thought into how mobile should look.

We should figure out a good way to present the navigation for all device sizes.

Things to consider:
* How does this look on smaller devices (mobile)
* How does this look on larger devices (desktop)
* Is a hamburger menu appropriate? maybe instead do a sideways  scrolling men

[2020-10-19 12:16] GuilleAngulo opened #74 "Post comments support"
### Description

Should the site have support for post comments? Would be an interesting feature? I'm thinking as starting point it could be:
- Adding this new field at Metadata (at PostCard) with the number of comments per post
- Render comments details at post detail page.

It implies to add the count of comments at **getAllPosts** query, and comments data and lib files (to manage its own querie

[2020-10-19 12:21] GuilleAngulo commented on #8
Great! I will pay attention

[2020-10-19 13:19] HeinSnyman commented on #34
I think water.css looks good as well as some of the other frameworks mentioned in the css tricks blog post. I also found this one https://milligram.io/#typography which I think also looks good. I will implement some of these and get back here with screenshots.

[2020-10-19 17:48] #37 closed

[2020-10-19 19:06] #47 closed

[2020-10-19 22:45] colbyfayock commented on #34
that sounds awesome thanks @HeinSnyman - i thought the MVP one looked nice too

either way, while im open to anything, i really like the idea of using a solution that doesn't require classes and such, just cause it makes it easier to drop in and people dont have to think about it as much, but we'll see :)

excited to see what you come up with!

[2020-10-19 22:48] colbyfayock commented on #74
thats a good question! so my original thought was to not use the wordpress comment system with the idea being if someone wanted to implement comments, they may be better off using a more interactive clientside experience like Disqus or something

im certainly not opposed to it though and dont feel incredibly strongly about it. one consideration is if the comments were to be constantly up to date f

[2020-10-20 11:43] Arxhtects commented on #69
![image](https://user-images.githubusercontent.com/19933370/96581186-5b0d5f80-12d1-11eb-99c9-78564ef66dd0.png)
^
    position: fixed;
    justify-content: flex-start;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    background: whitesmoke;
    padding: 10px;
    height: 100vh;
    z-index: 2;
    overflow-y: auto;
    width: 70vw;
    transition: left 0.45s ease-in-out

have

[2020-10-20 11:50] Arxhtects commented on #69
Just realised ive not specifed where the code should be placed.
Would be best on the nav UL tag

[2020-10-20 12:06] GuilleAngulo commented on #74
I think you're right, comments are definitely a thing to be more interactive/dynamic. Seems like a much better option to leave the user implement Disqus, Commento, etc

Some other considerations/questions I was wondering also:
Would be interesting to give the option of that wordpress comment system support for those WP users that are already familiar with that system (and if is an important and us

[2020-10-20 22:10] colbyfayock commented on #74
yeah let's hear what Kevin says, he's more in tune with the WordPress community than i am

that said, i want to explore the idea of plugins, but im not quite sure how the plugins would functionally work yet, as in, how would we "plug in" the functionality to the starter 🤔

[2020-10-20 23:22] GuilleAngulo commented on #66
Can I work on this one, @colbyfayock ?

[2020-10-20 23:57] colbyfayock commented on #66
sure you got it! 💪

[2020-10-21 06:57] rabishprasad commented on #69
hi

[2020-10-22 02:30] #66 closed

[2020-10-22 03:29] colbyfayock commented on #69
hey @Arxhtects thanks for putting that together - was that just a mockup or did you make a proof of concept somewhere? id be curious to see an example of how that would look when it's not collapsed for instance

[2020-10-22 09:47] Arxhtects commented on #69
Hey it was a proof of concept from the inspect window. and the x button was just a quick paint job.

Tbh making a toggle button is easy, i normaly do it with a div as a wrapper and 3 divs or spans inside. Some people do it with one div and before and afters, but i don't like doing it that way, I'm currently swamped work wise if i had time i would have forked and made a working concept, Maybe if i

[2020-10-22 14:04] HeinSnyman commented on #34
I gave the following frameworks a try that I thought would look good. I kept in mind to use the ones that doesn't require classes to be added to the code.

## Axist.css
### Home Page
<img width="1680" alt="axist_home-page" src="https://user-images.githubusercontent.com/22816814/96879213-0b1ecc00-147c-11eb-9221-915322064094.png">

### Post Page
![axist_post](https://user-images.githubusercontent.co

[2020-10-22 15:16] allenjamesvinoy14 commented on #69
@Arxhtects I would like to pick it up and work with the ground work you have laid.

[2020-10-22 15:30] Arxhtects commented on #69
I have no issue with that 👍

[2020-10-23 00:03] colbyfayock commented on #34
thanks for all of this 🙏 im kind of under the same impression that a typography only one would be nice so we're not making too many UI assumptions

interestingly though i like what Water.css does the best out of those, but if we pick 1 typography framework, we could work in some of the ncie things that Water has like the blockquote style

im gonna poke around that drop-in website before i answer,

[2020-10-23 00:17] colbyfayock commented on #34
the nice thing about the style.css one is it's available on npm so we can import that right into the project in global i would think 🤔

[2020-10-23 08:59] HeinSnyman commented on #34
I like Style.css as well! It also doesn't change the layout of the project too drastically.  Maybe it's the one to go with.

## Home page
<img width="1679" alt="style_home-page" src="https://user-images.githubusercontent.com/22816814/96978198-643f3c00-151e-11eb-85b4-857c13c5d69d.png">

## Post Page
![style_blog-post](https://user-images.githubusercontent.com/22816814/96978224-6c977700-151e-11eb-8a

[2020-10-23 12:47] colbyfayock commented on #34
cool lets go with that :) the nice thing about including this inside of global.scss is that it will go into the next.js pipeline and it will also allow someone to easily remove it should they not like it!

[2020-10-23 12:50] colbyfayock commented on #69
as long as @Arxhtects didn't want to do the work and submit the PR that sounds good

when working through it we'll want to make sure that we're providing a good experience for both mobile and desktop :)

[2020-10-23 17:34] jatin-rathee commented on #50
@colbyfayock  are you sure @itsthecheat  is working on this one?

[2020-10-23 18:59] colbyfayock commented on #50
i was gonna check in after the 7 day mark :)

@itschecheat if we dont hear from you by tomorrow that you've been actively working on it I'm going to let @jatin-rathee have at it

[2020-10-23 19:08] GuilleAngulo commented on #26
Hey @colbyfayock , I was checking this one. Here is an idea of approach:

1.- Change **getAllPosts** at util.js to retrieve more info, to fill both searchIndex and the feed.
2.- Add new method **generateFeed()** at util.js using [rss](https://www.npmjs.com/package/rss)
3.- At search-index-compiler add a new **outPutDirectory/outPutName** for the feed ('**./.next/static/feed.xml**')
4.- Use generat

[2020-10-24 05:56] jasonbahl opened #79 "Require full path to the WPGraphQL endpoint"
WPGraphQL allows the endpoint to be filtered, and more recently even changed in the Settings page, so there's no guarantee that the endpoint will be `/graphql`.

![Screen Shot 2020-10-23 at 11 55 55 PM](https://user-images.githubusercontent.com/1260765/97069141-4e1b9500-158b-11eb-989f-4e9faf95a2c4.png)

Instead of adding `/graphql` to the configured domain the full path should be added to the conf

[2020-10-24 08:13] doingandlearning commented on #79
Oh! That is very cool - thanks for checking out the project Jason! Value any of your other WP graphql insights for things we might be missing :)

[2020-10-24 08:28] doingandlearning commented on #74
Sorry for the delay in weighing in on this, there are a few competing approaches here.

- Leverage the WP comment system and use a graphql mutation to add them. For me, this breaks with the independence of the WP instance and I wouldn't vote for this approach.

- Using a jamstack approach that potentially adds the comments and triggers a rebuild. The advantage here is that the comments stay with t

[2020-10-24 08:31] doingandlearning commented on #69
@allenjamesvinoy14 - let me know if you'd like any support with this. :)

[2020-10-24 08:36] doingandlearning commented on #59
Some wonderings and ponderings :)

I wonder if this should be driven by the menu system rather than the page system?

I wonder if these are in the page itself, a TOC at the top or bottom maybe?

I think this would be cool.

As many as you want :)

[2020-10-24 08:37] doingandlearning commented on #52
Hi @DhrutikPatel - how are you getting on with this? Give a shout if we can help.

[2020-10-24 08:38] doingandlearning commented on #44
I don't know if this belongs in this issue but it would be good to have everything required for webmentions leveraging of microformats in here.

[2020-10-24 08:38] doingandlearning commented on #44
(I'll find a link!)

[2020-10-24 08:39] doingandlearning commented on #38
I'll start this and get a v0.1 ready.

[2020-10-24 08:39] doingandlearning commented on #27
Yeah - I think we probably want to do the indexing on the Next side, not least of all because we may add some 'non-WP' pages in the build

[2020-10-24 12:23] colbyfayock commented on #44
yes! that was one of the things i had in mind when thinking about it. it would be cool as that information is valuable for services that can provide a rich experience and if im not mistaken even search engines use it

[2020-10-24 12:26] colbyfayock commented on #79
we'll also need a fix here inside of the search index util file

https://github.com/colbyfayock/next-wordpress-starter/blob/master/plugins/util.js#L42

[2020-10-24 12:30] colbyfayock commented on #74
i like the idea of including it as an example when we start building all that out and @GuilleAngulo if you'd like to contribute to that you're more than welcome to, i would just make you an author in the WordPress instance i use for this project. we're going to make it a "blog-like" experience to showcase leveraging WordPress for the documentation site, so the example walk-through could be a blog

[2020-10-24 13:01] colbyfayock commented on #50
hey @jatin-rathee it's all yours :)

[2020-10-24 15:09] DhrutikPatel commented on #52
hello @doingandlearning, I did not understood the issue can you please explain in detail ?

[2020-10-25 13:03] colbyfayock commented on #52
the hope for this Issue was to take the time to rewrite the meta descriptions that are included by default with this Starter

for instance, on Archive pages, we include a patterned snippet like this:
[code]
https://github.com/colbyfayock/next-wordpress-starter/blob/master/src/templates/archive.js#L30

Allowing that pattern to work dynamically for all pages that use that template, but it's not the

[2020-10-25 13:05] colbyfayock commented on #59
How do menu systems work for dynamically generated parent/child relationships?

[2020-10-25 13:09] colbyfayock commented on #26
what do you think about making this a separate plugin? i like the idea of abstracting these kinds of things because it leaves room for the potential future of pulling them out into separate packages if that's something we could make work. that way, if someone only wants to install search for instance, they could do that easily

id like to hear more about the rewrites feature, is that something we

[2020-10-25 13:11] colbyfayock commented on #44
hey @arifsetyo21 checking in - are you having any luck with this?

[2020-10-25 13:12] colbyfayock commented on #4
@doingandlearning what do you think about the above?

[2020-10-25 14:36] #34 closed

[2020-10-25 18:26] DhrutikPatel commented on #52
I am getting following error while run the project using **npm run dev**

[code]

And no description in given on **public/wp-search.json** file in readme.md

[2020-10-25 19:14] colbyfayock commented on #52
@DhrutikPatel have you created a local environment file that includes a wordpress host?

https://github.com/colbyfayock/next-wordpress-starter#environment

[2020-10-26 08:09] jatin-rathee commented on #50
@colbyfayock I am getting some error while setup, can you tell what comes in `.env.local`?

[2020-10-26 11:26] colbyfayock commented on #50
as of now you only need your wordpress host `WORDPRESS_HOST`

https://github.com/colbyfayock/next-wordpress-starter#environment

[2020-10-26 16:48] DhrutikPatel commented on #52
Yes I have created **.env.local** file and added hostname also.

[2020-10-26 18:27] GuilleAngulo commented on #26
Absolutely, I've ended up thinking of it as separate plugins. At the same time I was thinking in your first message here, and I realized that the three potential plugins (including sitemap) could share same class compiler because the structure is the same:

1.- Retrieve data
2.- Generate file
3.- Write file

I'll make a PR to show you the approach. Open to any change you may see aproppiate

About

[2020-10-26 20:46] GuilleAngulo commented on #74
Sure! Just to clarify: It would be a walk-through example (as a blog post) explaining how to add WP comment system support using graphql query/mutation, right?

[2020-10-27 00:35] colbyfayock commented on #74
yeah so really it can be whatever you want! whether it's using the comment system or Disqus or something else

my ambitious goal would be to start a collection of these little posts that can help people get up and running with different setups revolving WordPress. For instance, I would imagine one post, whether Kevin or I writes it, could be about adding WPGraphQL to WordPress through the admin

n

[2020-10-27 01:21] colbyfayock commented on #52
i just cloned the repo and did a fresh install and had no issues

do you have WPGraphQL installed on WordPress?

https://github.com/colbyfayock/next-wordpress-starter#requirements

can you open up a new Issue if you're still having problems as it's not relevant to this issue?

[2020-10-27 13:01] jatin-rathee commented on #50
[code]

Getting this when i gave the address of local wordpress instance. @colbyfayock Can you help?

[2020-10-27 13:14] colbyfayock commented on #50
hey @jatin-rathee i'll try to give you a hand later after work - for now, can you open a new issue with a title that reflects the error so others can find it too with the answer?

[2020-10-27 17:44] jatin-rathee commented on #50
@colbyfayock I think there is something wrong with my local setup.

`WORDPRESS_HOST="http://localhost/wordpress/"`

Is this fine?

[2020-10-27 19:29] GuilleAngulo commented on #50
hey @jatin-rathee have you tried using your IP instead of localhost? Also you need to remove last trailing slash, to allow graphql calls be properly made (it is add inside the code /grapqhl to the variable).

`WORDPRESS_HOST="http://<your_ip>/wordpress"`

I hope that solves it

[2020-10-27 19:36] colbyfayock commented on #50
@GuilleAngulo  is that a confirmed issue? i can open a ticket for someone (or me) to fix that, we shouldn't care if there's a `/` at the end to avoid issues like this

[2020-10-27 19:51] GuilleAngulo commented on #50
@colbyfayock Yes, checked just now and seems like is breaking with the trailingslash, it adds double _//._ Also this is related to #79.

![issue](https://user-images.githubusercontent.com/50624358/97354696-929d7e00-1874-11eb-81f8-36d1f6777ba4.png)

[2020-10-27 20:09] GuilleAngulo commented on #50
I can send a PR if you want. Creating a new util function on site.js lib to remove last trailing slash on a string, and use it before setting the env variable at next.config.js

[2020-10-27 20:11] colbyfayock commented on #50
cool a PR would be great! another thought is to maybe use `path.join()`, though not sure if that works with a url 🤔  but whatever you think works, thanks. ill makke an issue an assign it to ya

[2020-10-27 20:12] colbyfayock opened #83 "Trailing WORDPRESS_HOST slash breaks builds"
@colbyfayock Yes, checked just now and seems like is breaking with the trailingslash, it adds double _//._ Also this is related to #79.

![issue](https://user-images.githubusercontent.com/50624358/97354696-929d7e00-1874-11eb-81f8-36d1f6777ba4.png)

_Originally posted by @GuilleAngulo in https://github.com/colbyfayock/next-wordpress-starter/issues/50#issuecomment-717495655_

[2020-10-27 20:12] colbyfayock commented on #83
@GuilleAngulo i can't assign it to you for some reason 😂  but here it is

[2020-10-27 20:20] GuilleAngulo commented on #83
hahaha 👍

[2020-10-27 22:31] #83 closed

[2020-10-27 22:31] GuilleAngulo commented on #50
It seems like won't work properly using path module. Also checked using [url module](https://nodejs.org/api/url.html), but didn't find a proper way to remove the trailing slash if is coming already with the behind pathname...

[2020-10-27 22:32] colbyfayock commented on #50
@jatin-rathee if you pull in the latest changes, it should fix the trailing slash issue. curious if that's the issue you're facing

[2020-10-27 22:46] #26 closed

[2020-10-27 22:47] colbyfayock commented on #26
now we need to add a link somewhere on the page :) i'll open a ticket for that one

[2020-10-27 22:49] colbyfayock opened #85 "Add RSS Link to Website"
New functionality was added in https://github.com/colbyfayock/next-wordpress-starter/pull/81 to provide a feed.xml file that includes the blog posts.

We should now add the link to the feed somewhere in the UI that let's people easily find it should they want to subscribe to a page's feed.

This might work well in the footer? Perhaps a new column in the supplemental footer along with the category

[2020-10-27 23:05] #8 closed

[2020-10-28 05:18] jatin-rathee commented on #50
@colbyfayock @GuilleAngulo sorry but im still getting same error

`[Feed] Failed to fetch posts from http://localhost/wordpress/graphql: Error: Unexpected token < in JSON at position 0`

[2020-10-28 11:38] colbyfayock commented on #50
@jatin-rathee can you please open a new Issue for this as it's unrelated to this Issue?

[2020-10-28 13:17] GuilleAngulo commented on #50
@jatin-rathee Instead of using `localhost` try using your machine IP `WORDPRESS_HOST="http://<your_ip>/wordpress`. Not sure yet why with a local instance using localhost does not work...

[2020-10-28 13:44] jatin-rathee commented on #50
@GuilleAngulo changing localhost with ip didn't work for me

[2020-10-28 13:47] jatin-rathee opened #86 "Server Error => Error: Unexpected token < in JSON at position 0"
This is what i get when i run command `yarn dev`

[code]

[2020-10-28 13:48] jatin-rathee commented on #50
@colbyfayock opened new issue #86

[2020-10-28 13:49] colbyfayock commented on #86
hey @jatin-rathee thanks for moving the convo here. do you have WPGraphQL installed on your wordpress instance?

[2020-10-29 07:30] jatin-rathee commented on #86
@colbyfayock Thanks, adding WPGraphQL on wordpress fixed my problem

[2020-10-29 07:30] #86 closed

[2020-10-29 07:59] jatin-rathee commented on #50
@colbyfayock fixed this in #87 Please review

[2020-10-29 11:31] GuilleAngulo commented on #27
If is available, would like to give a try :point_up:

[2020-10-29 11:40] colbyfayock commented on #27
all you @GuilleAngulo was thinking this would fit in nicely with the plugin system!

[2020-10-29 23:06] colbyfayock commented on #50
thanks @jatin-rathee!

[2020-10-29 23:06] #50 closed

[2020-11-01 02:55] #27 closed

[2020-11-06 18:44] GuilleAngulo opened #92 "JSON-LD Structured data"
Hey! So I was wondering if this would be an interesting feature for posts, to enable special search result features and enhancements.
What do you think?

Links:
https://developers.google.com/search/docs/guides/intro-structured-data
https://developers.google.com/search/docs/data-types/article

[2020-11-07 03:34] colbyfayock commented on #92
@GuilleAngulo yeah for sure! i honestly though i already had a ticket for that somewhere 😂

i believe most pages can have generalized tags with structured data right? but posts are probably the most relevant

[2020-11-07 13:44] GuilleAngulo commented on #92
@colbyfayock yes! I think **posts**, **pages** and **index** could be a good starting point. Would be also a good practice to include on authors and categories?

Discovered this feature just now reading Google documentation: [searchbox](https://developers.google.com/search/docs/data-types/sitelinks-searchbox#example) , It's pretty cool! A search box inside google result.

I'm interested on this on

[2020-11-07 14:08] colbyfayock commented on #92
yeah for sure, all you! :)

[2020-11-15 20:04] #92 closed

[2020-11-28 01:44] #79 closed

[2020-11-28 15:35] GuilleAngulo opened #100 "Debug option at plugins"
Just an idea:

Currently the plugins have 4 lines of console log each if everything goes without any errors:
[code]
Making a total of 12 lines if all plugins are passed. I was thinking that maybe is a good idea to just log 1 line (per plugin) if everthing goes as supossed, something like: `Successfully created: wp-search.json`.

In order to not lose all the useful console logs, we can grab a new b

[2020-11-28 16:15] colbyfayock commented on #100
yup i think that makes sense for sure

do you think theres a way to tie that into something like a verbose flag (--verbose)? or is it more common to include a debug property like that?

[2020-11-28 20:07] GuilleAngulo commented on #100
@colbyfayock Not sure about it. I was checking some [plugins](https://github.com/vercel/next-plugins), but I didnt find an example for a verbose case... I would say that for this case, following next-compose-plugins [configuration structure](https://github.com/vercel/next-plugins), passing a custom variable inside config seems like a good option (I agree that verbose would be a more accurate namin

[2020-11-28 23:25] colbyfayock commented on #100
yeah if there's already an existing standard for plugins i think that makes sense

as far as util.js goes, i think that makes sense as well
so for instance, were you thinking instead of:
[code]
you may do this?
[code]

[2020-11-29 01:11] GuilleAngulo commented on #100
Exactly. I can take care of this one if you like the idea

[2020-11-30 02:13] colbyfayock commented on #100
yup sounds great, thanks

[2020-12-02 15:22] #100 closed

[2020-12-09 17:40] colbyfayock commented on #4
Talked to Jason Bahl about this, on his website they parse the html to create components. we can probably do this safely and not impact performance since it would be at build time

https://github.com/wp-graphql/wpgraphql.com/blob/master/src/templates/WpCodeSnippet.js#L56

[2021-01-13 16:38] arpitmittaldev opened #111 "Option for AMP Support Needed [Feature]"

[2021-01-13 20:13] colbyfayock commented on #111
hey @arpitmittaldev can you give me an idea of what the requirements are to support AMP?

[2021-01-13 20:32] doingandlearning commented on #38
I know I've fallen behind on this. Good news is that GraphiQL is now built into WPGraphQL, so actually this is currently one module and one piece of meta-data.

[2021-01-13 20:33] doingandlearning commented on #4
Yeah - I think that's probably fine. I *also* talked to Jason about this and was surprised that blocks aren't being registered in the database, so this makes the query much slower.

I think for now, it's good to parse the html :)

[2021-01-13 20:35] doingandlearning commented on #6
So, Jason might also have the solution for this! :)

https://github.com/wp-graphql/wpgraphql.com/blob/master/src/components/parse-html.js

This is his parsing function. I want to dig in and to see how to abstract this to the starter.

[2021-01-13 20:36] doingandlearning commented on #9
I'm a big fan of *not* paginating and lazy loading the content if it's too much ... but for those who love the pagination happy to look at this.

[2021-01-14 02:21] colbyfayock commented on #9
yeah a quick search seems to support that. as long as we can build it in where it's pretty clean between all devices

this seems to support it: https://www.nngroup.com/articles/infinite-scrolling/

id be curious to see if there are any more recent articles with more information on modern ways to support it and provide a good UX

[2021-01-24 03:02] colbyfayock opened #116 "Safari Invalid Date"
I noticed that in Safari, when going particularly to a Post page, the page fails to render due to an Invalid Date issue.

Looks like in the GraphQL query, the `modified` date doesn't return in a correct format

When querying for `modified` it comes as:
[code]
Which is invalid when adding to a `new Date()` instance.

But what's needed is
[code]
Which is available inside of `modifiedGmt`

is this a

[2021-01-24 03:14] colbyfayock commented on #116
Created an issue for WPGraphQL to check out https://github.com/wp-graphql/wp-graphql/issues/1696

[2021-01-26 20:19] GuilleAngulo commented on #9
this one is interesting, from SEO perspective: https://developers.google.com/search/docs/guides/lazy-loading#paginated-infinite-scroll

[2021-01-27 00:17] colbyfayock commented on #9
oooo thats really interesting

so i would imagine it would be along the lines of:
* Page loads with initial page 0 request
* Once you hit the trigger point, a new request is made for page 1
* Once page 1 is successfully requested, update the URL to something like ?page=1
* Do the same for page 2

When someone comes back with ?page1:
* Load page 0 and page 1 (making sure they load in the correct or

[2021-01-27 00:18] colbyfayock opened #117 "Related Posts"
Could we do a simple implementation of "related posts"?

A basic idea could be loading more posts from the category of the active post

They could be added at the bottom of the page. More from [category]

[2021-01-27 13:04] GuilleAngulo commented on #9
this one is a good read too, comparing [pagination - view more - infinite scroll:](https://uxdesign.cc/ui-cheat-sheet-pagination-infinite-scroll-and-the-load-more-button-e5c452e279a8) .

I would say that classic pagination also fits in order to reference content. And navigation to older posts would be faster.

[2021-01-29 13:46] GuilleAngulo commented on #117
hey @colbyfayock I was thinking on this one and I think I have an implementation. Not sure if you are already working on it... if not, happy to send a PR 😃

Looks like this:

![related-posts](https://user-images.githubusercontent.com/50624358/106282153-f4c4a100-621e-11eb-844a-884d35a06678.png)

[2021-01-29 14:17] colbyfayock commented on #117
that looks good to me! maybe a little extra spacing above the header to separate it similar to the "last updated" line from the original content

but yeah, go ahead with a PR!

[2021-01-29 14:36] GuilleAngulo commented on #117
Perfect! Making that change, and sending the PR 💪

[2021-01-31 21:31] colbyfayock commented on #13
Support added to Post pages via https://github.com/colbyfayock/next-wordpress-starter/pull/91

[2021-02-01 14:33] thedavedavies commented on #116
Just spotted this issue in the wild on a project I'm working on. I just updated my query to `modifiedGmt` which fixes it (as you found out too). Is that enough to fix it in the project?

[2021-02-01 22:43] colbyfayock commented on #116
hey! yeah i think i tried that on spacejelly.dev too. feel free to make a PR if you'd like, otherwise im on vaca for a few days :)

[2021-02-02 08:30] thedavedavies commented on #116
Nice one. I've updated the graphQL fields to `modifiedGmt` which were crashing the single posts on Safari, leaving the `modified` graphQL fields everywhere else for now, because that seems to work fine. I'll submit a PR for this.

[2021-02-04 12:50] colbyfayock commented on #116
Fixed by #123

[2021-02-05 17:26] colbyfayock opened #124 "Ignore OG Image Build Directory"
_Originally posted by @GuilleAngulo in https://github.com/colbyfayock/next-wordpress-starter/issues/119#issuecomment-774002316_

Do we want to move the output directory to something like `/og/` and ignore that? `/images` is a common directory name, so probably want to avoid using that if we're adding it to `.gitignore`

[2021-02-05 23:24] #117 closed

[2021-02-07 02:40] colbyfayock opened #125 "Add excerpt to RSS if available"
We should add the excerpt if it's available as the Content of the RSS feed to serve as a blurb for the feed item

![image](https://user-images.githubusercontent.com/1045274/107134864-d700d700-68c3-11eb-8284-4b95ac2b0116.png)

[2021-02-07 03:02] colbyfayock commented on #9
maybe it makes sense to do pagination for now. it's a pretty classic way of doing things and would probably be a common expectation for someone spinning up a site (it's not controversial). i think the work that goes into it could be utilized to add lazy loading or something in the future should we go that direction since ultimately the paging needs to be requested

[2021-02-07 18:12] #116 closed

[2021-02-07 18:21] #85 closed

[2021-02-07 18:21] colbyfayock commented on #111
@arpitmittaldev any thoughts? otherwise i'll close this until we have more information

[2021-02-07 18:23] #52 closed

[2021-02-08 05:51] arpitmittaldev commented on #111
@colbyfayock , It would be great if there can be some option to turn on/off the AMP pages according the user's interest.

Amp configuration includes making changes to the HTML tags.

Example:

`<!DOCTYPE html>
<html ⚡>
  <head>
    <meta charset="utf-8" />
    <title>Sample document</title>
    <link rel="canonical" href="./regular-html-version.html" />
    <meta
      name="viewport"
      conten

[2021-02-09 13:28] colbyfayock commented on #59
Found I could use URIs to support page lookups and such, have a nice solution, moved the child pages to the bottom so they weren't intrusive as a sidebar

https://github.com/colbyfayock/next-wordpress-starter/pull/77

[2021-02-09 13:28] #59 closed

[2021-02-10 12:54] colbyfayock commented on #111
thanks for the idea @arpitmittaldev i think this would probably be prioritized lower than some of the other work in the Issues backlog

I'm also not totally sure how we would approach  this, we would first need to parse the HTML which we're currently not doing, in order to render the `<amp-img` and such, as right now the content of posts and pages come from wordpress as string. that's something th

[2021-02-11 21:10] GuilleAngulo commented on #9
After doing some research, here are some notes about that may be helpful:

WPgraphql supports an out-of-the-box cursor pagination (prev - next) based on [Relay connection specification](https://relay.dev/graphql/connections.htm). Apparently offset based pagination requires aditional installations ([for example](https://github.com/valu-digital/wp-graphql-offset-pagination)).

So when querying posts

[2021-02-12 13:12] colbyfayock commented on #9
so the only issue with doing something like that is we'll be then taking advantage of serverside rendering

up until this point i've been doing everything statically

if possible id like to continue that, i think its a nice challenge for solving those types of problems without requiring a server (and it makes it more portable)

as far as implementation, what do you think about using `getAllPosts`

[2021-02-12 17:50] GuilleAngulo commented on #9
Agree, that makes sense and it is in line with the whole project. Will try to make an implementation test to see if I can help on this one.

About **post per page**, could it be a constant (set by default to 10) placed at some "constants file"? In order to make it easy change that value?

Interesting point, will see if I can find some info about it also.

[2021-02-12 18:16] colbyfayock commented on #9
yeah i think the constant with a default would be perfect. maybe that can go in next.config.js? unless you dont think thats appropriate. id love to have a central place, a constnat file makes sense, but wondering since we already have that file

[2021-02-13 23:40] GuilleAngulo commented on #9
Yes, that seems like a good location along with the others env variables.
I have one doubt about the implementation: where should the dynamic path be located?
Because under `posts` directory is located the dynamic page for slugs `[slug].js`. Should pagination have a separated folder? Or should that dynamic page be shared for slugs and pages, having conditional blocks for each one?

[2021-02-18 12:40] GuilleAngulo commented on #9
Yes, I think that is a good idea storing that constant along the other env variables.

Sorry about the delay on this, but I have a question concerning the location of pagination: where should the dynamic paths be located at? Because under `posts` directory there is the `[slug].js` page ... should this page be in charge for both **pages** and **slugs**? Or should we create another directory, like f

[2021-02-21 15:18] colbyfayock commented on #9
yeah good question. i think in my opinion i'd like to see you go the page route like `posts/page/[page].js`

i'd prefer not to have the single Post page maintained along side the post pagination page and that's probably the cleanest way to handle it

do you think we could also use the `templates/archive.js` file to render out each of those pages? similar to the All Posts page:

https://github.com/

[2021-02-23 17:46] GuilleAngulo commented on #9
Took all the notes and I'm preparing the PR. Thanks a lot for the guidance!

About SEO:
I followed what you suggested. Aparently Google is no longer taking the **rel="next"** and **rel="prev"** as an indexing signal, but is still recommended by the [W3C](https://www.w3.org/TR/relations.html) and seems like Bing is also using it. So I have use them. And about _canonical_ what I have come up is only

[2021-02-23 20:26] GuilleAngulo opened #133 "Page 404"
## Description
Currently there isn't a custom 404 page and when landing at a page that doesn't exist, the default message is "An unexpected error has occurred.". In Next.js creating a custom 404 page is as easy as creating a `pages/404.js` file , so I thought it would be a nice adition. Anytime trying to access a page that doesn't exist, it will fall to that page.

About the content it could be a

[2021-02-23 23:52] colbyfayock commented on #133
yeah i think that makes sense! good call

are any other error pages common? i guess it's not server-side, so there really shouldn't be any other "error" pages

[2021-02-24 12:56] GuilleAngulo commented on #133
Exactly, this 404 is statically generated. Next provides another option of custom errors at `pages/_error.js` but these rely on server-side: https://nextjs.org/docs/advanced-features/custom-error-page#customizing-the-error-page

I'm trying to find out why currently is throwing that _An unexpected error has occurred._ on non-existing pages, because Next has a default 404 page ...

[2021-02-24 13:04] colbyfayock commented on #9
yeah  idont feel strongly about the canonical link, whatever you think makes sense! and thats interesting about the tags, didn't realize that but good to know. for anyone tuning in https://ahrefs.com/blog/rel-prev-next-pagination/ is a good article to check out (just looked it up)

[2021-02-24 13:35] colbyfayock commented on #133
could it be due to using `fallback: false,`? i would still expect nextjs to provide a 404 instead but im not 100% sure of the details of that properly

[2021-02-24 14:01] GuilleAngulo commented on #133
So according to the doc: `If fallback is false, then any paths not returned by getStaticPaths will result in a 404 page.` In other projects i'm getting the default 404 correctly ... strange

![page404](https://user-images.githubusercontent.com/50624358/109010078-1e41e280-768e-11eb-99ee-147796484984.png)

Creating the 404.js file seems to solve this issue. Even in the case of having the default 404

[2021-02-24 14:56] colbyfayock commented on #133
yeah thats really weird... i'd be curious to know why but at least it resolves it 🤷

[2021-02-24 22:41] GuilleAngulo commented on #133
I think I found the reason. According to the [doc](https://nextjs.org/docs/advanced-features/automatic-static-optimization): `If you have a custom App with getInitialProps then this optimization will be turned off in pages without Static Generation.`. So as the custom _app is now using the `getInitialProps` the Automatic Static Optimization is turned off. Made a test taking off the `getInitialProp

[2021-02-25 03:47] colbyfayock commented on #133
ahh interesting okay. well good to know

as much as i love the unopinionated data layer, i wish there was a better opinionated mechanism for global data fetching like that

[2021-02-25 18:37] #133 closed

[2021-02-26 06:56] Locheed commented on #12
For the ACF you need https://github.com/wp-graphql/wp-graphql-acf then it's just another query to get ACF fields to NextJS.

[2021-03-14 03:09] #9 closed

[2021-03-23 05:24] TheDictator opened #142 "Category - TypeError: Cannot destructure property `name` of 'undefined' or 'null'"
TypeError: Cannot destructure property `name` of 'undefined' or 'null'.
    at getStaticProps (webpack-internal:///./src/pages/posts/[slug].js:378:7)
    at process._tickCallback (internal/process/next_tick.js:68:7)

The posts in WP all have multiple categories and tags so I am not sure what could be causing this. The posts load fine on category and index pages, but throw this error when visiting

[2021-03-23 23:47] colbyfayock commented on #142
hey @TheDictator do i have a codesandbox or GitHub repo I can look at?

[2021-03-24 03:42] TheDictator commented on #142
Added you to the repo

[2021-03-26 10:43] diow opened #143 "Problem with GraphQL search"
https://i.imgur.com/zWFeNcD.png

I am getting error messages on clean install with fresh download.
Honestly I am a bit confused as my .env.local definetely looks okay!

WORDPRESS_GRAPHQL_ENDPOINT="https://pradera.mkpactive.com/graphql"
WORDPRESS_HOST="https://pradera.mkpactive.com"

[2021-03-26 11:59] colbyfayock commented on #142
@TheDictator the code works with my instance of wordpress, can you share your graphql URL you're using to load wordpress?

[2021-03-26 12:03] colbyfayock commented on #143
hey @diow it looks like you don't have the WPGraphQL plugin installed or you have it  configured at a different endpoint

if you go to https://pradera.mkpactive.com/graphql in your browser, it would look like the following if it was installed

![image](https://user-images.githubusercontent.com/1045274/112628754-b1934280-8e09-11eb-83f4-371ed9523419.png)

[2021-03-26 12:03] colbyfayock commented on #143
You can install it right in the WP dashboard https://wordpress.org/plugins/wp-graphql/

[2021-03-27 00:14] diow commented on #143
It was installed when I posted this but I have disabled it after that as I was testing various options.
I have now enabled it so please check and try to run the setup yourself specifying my endpoint

[2021-03-27 00:14] diow commented on #143
I haven't changed any of the settings - it is the same as per when I have posted this issue

[2021-03-27 00:16] diow commented on #143
btw try incognito as redirect automatically will send you to homepage if you have visited that page when I turned off the plugin

[2021-03-27 00:28] diow commented on #143
I just created a fresh installation and it worked - thanks I will investigate why the other one wasn't working and I will let you know here

[2021-03-27 02:16] colbyfayock commented on #143
glad to hear its working, thanks for the update

[2021-03-30 12:58] GuilleAngulo commented on #125
Oops my fault. Good catch. It is implemented in the creation of the feed (description field at `generateFeed()`), but forgot to include the excerpt field at the GraphQL query on `getAllPosts()` 🤦‍♂️ . I'll send the PR to fix it

[2021-03-30 13:45] #125 closed

[2021-04-20 13:00] TechStacker opened #148 "Can’t display WordPress menu out of the box?"
This glorious project seems to have everything you'd want for a Headless starter except for displaying the WP menu in Next.js via GraphQL. Or am I overlooking something?

On this demo there are two menu items in the header nav https://next-wordpress-starter.netlify.app/docs/ — but I'm not sure if they are hardcoded in the demo app, or if they're created via GraphQL from the native WordPress Menu p

[2021-04-21 14:18] colbyfayock commented on #148
hey @TechStacker sorry i need to document this, but right now the way it works is it only pulls in pages with a menu order of > 0

https://github.com/colbyfayock/next-wordpress-starter/blob/476cb1b41b5c51c9a02afab91cf058f0a33f8b85/src/lib/pages.js#L71

the goal was to be able to give someone control of actually showing a page in the navigation as well as the order

I'd like to have menu support, i

[2021-04-21 14:22] colbyfayock commented on #148
actually i just looked at my own project to see if it would come up in a query and it looks like it does so it's just a matter of implementing it in a way that makes sense, like managing how the locations work for doing so which wouldn't be too bad

![image](https://user-images.githubusercontent.com/1045274/115569606-6561e380-a28b-11eb-8ee0-9c2cc9347294.png)

[2021-04-22 12:06] TechStacker commented on #148
Appreciate your response @colbyfayock !

When I create pages and give them a value greater than 0, I get this error as soon as I click on the menu item for that page:

[code]

Can you replicate that error or is it just on my end? 🤔

[2021-04-24 02:43] colbyfayock commented on #148
thats strange - im not able to reproduce that

![image](https://user-images.githubusercontent.com/1045274/115944711-47f86980-a485-11eb-99be-4ba84d4cc545.png)

is your wordpress link public that i could plug it in locally?

[2021-04-25 21:19] colbyfayock commented on #143
hey closing this, but let me know if you're still running into any issues!

[2021-04-25 21:19] #143 closed

[2021-04-25 21:20] colbyfayock commented on #12
Yoast SEO plugin support via https://github.com/colbyfayock/next-wordpress-starter/pull/149

[2021-04-25 21:21] colbyfayock commented on #148
closing this since we have #7 to track menu support, but let me know if you're still running into issues and i can try to play with it!

[2021-04-25 21:21] #148 closed

[2021-04-25 21:22] colbyfayock commented on #142
closing since i haven't heard back, let me know if you're still running into any issues

[2021-04-25 21:22] #142 closed

[2021-04-26 02:54] colbyfayock opened #151 "Remove WORDPRESS_HOST support"
Remove support for environment variable `WORDPRESS_HOST`

Add a deprecation notice if variable is set to use `WORDPRESS_GRAPHQL_ENDPOINT` instead

[2021-04-30 02:28] #7 closed

[2021-04-30 02:29] colbyfayock commented on #148
hey @TechStacker menus are supported now, at least 1 for primary navigation :)

https://github.com/colbyfayock/next-wordpress-starter/pull/150

README is updated to show how to configure

[2021-04-30 12:49] joelgrodriguez opened #155 "TypeError: Cannot read property 'length' of undefined"
I just installed a fresh instance of WP and the starter.

The home page pulls up no problem but...

For some reason when I click on a post I am getting this error.

Server Error
TypeError: Cannot read property 'length' of undefined

`
  147 |
  148 |   const { categories, postId } = post;

      |                              ^
  150 |   let { name, slug } = category;
  151 |
  152 |   return {`

[2021-04-30 13:02] colbyfayock commented on #155
hey @joelgrodriguez i was able to reproduce, thats relaly strange

What results do you get when you run this query inside of the GraphiQL IDE?

[code]

the issue is for some reason the query isn't finding the post by it's slug

[2021-04-30 13:07] joelgrodriguez commented on #155
This was returned:

`
{
  "data": {
    "postBy": null
  },
  "extensions": {
    "debug": [
      {
        "type": "DEBUG_LOGS_INACTIVE",
        "message": "GraphQL Debug logging is not active. To see debug logs, GRAPHQL_DEBUG must be enabled."
      }
    ]
  }
}
`

[2021-04-30 13:10] colbyfayock commented on #155
@doingandlearning have you seen something like this before? any ideas?

the post metadata coming from the homepage has the `hello-world` slug

[code]

[2021-04-30 13:21] joelgrodriguez commented on #155
I'm thinking it may have something to do with Kinsta?

I just tested this on local install using Local by Flywheel and I am able to load the post with no errors.

[2021-04-30 14:33] doingandlearning commented on #155
This is interesting. I think there was some talk about deprecating the `by` functions like `postBy`. It does indeed look like that's happened on your instance. This could be a WP version or WPGraphQL version.

To fix this in our code, we'd move from using `postBy` to using `post`. The new query would look like this:

[code]

I'll send a message on the WPGraphQL Slack group about it to confirm if a

[2021-04-30 15:26] joelgrodriguez commented on #155
I was able to get the expected data back but with a modified query from yours @doingandlearning :

`query MyQuery {
  post(id: "hello-world", idType: SLUG) {
    id
    title
    slug
  }
}`

The query provided above returned an error for me.

Thanks

[2021-04-30 16:11] colbyfayock commented on #155
thanks for the heads up both of you, will get that updated to the new query format unless one of you wanna put in a PR :)

[2021-04-30 16:16] doingandlearning commented on #155
Very happy to do this.

Confirmed with the WPGraphQL team that this was an issue.

![Screenshot_20210430_171508_com Slack](https://user-images.githubusercontent.com/8320213/116723833-cc903e00-a9d7-11eb-99ec-1144fb29e3de.jpg)

[2021-05-01 02:31] colbyfayock commented on #155
Fixed via #156

[2021-05-01 02:31] #155 closed

[2021-05-02 00:58] colbyfayock opened #157 "Update last modified date"
We previously fixed a bug in WPGraphQL by using the `modifiedGmt` instead of `modified` date. https://github.com/colbyfayock/next-wordpress-starter/issues/116

That bug shoudl now be fixed in WPGraphQL via https://github.com/wp-graphql/wp-graphql/pull/1880

It might make sense to go back to `modified` so it's using the same timezone / format as the `date` field to clean it up

[2021-05-07 11:41] GuilleAngulo opened #159 "Adding ESLint"
_Referring to the code review #158_

[2021-05-07 12:52] colbyfayock commented on #159
interesting. thinking back, i actually just assumed prettier would catch this but i guess it really doesnt do much more than formatting

im down for that. i actually prefer configuring via ESLint but didn't want to spend a ton of time on it originally

there should be plugins available that will make prettier use the eslint config. regardless of how it's set up, both eslint and prettier should sou

[2021-05-07 17:49] GuilleAngulo commented on #159
Exactly, in my opinion having both working together is the best scenario: prettier for visual formatting and ESlint for javascript rules and patterns checks.

This [plugin](https://github.com/prettier/eslint-plugin-prettier#readme) makes it possible for the two to work together without conflicts: it runs prettier as an ESlint rule.

[2021-05-10 00:43] colbyfayock opened #162 "SEO category doesn't work on demo website"
https://next-wordpress-starter.netlify.app/posts/how-to-manage-seo-in-headless-wordpress-with-yoast-seo-and-wpgraphql/

https://next-wordpress-starter.netlify.app/categories/seo/

[2021-05-15 01:25] jahzlariosa opened #166 "Vercel Zlib Not Found"
Any idea why I get this when deploying this template to Vercel?

`

09:21:08 | > Build error occurred
-- | --
09:21:08 | Error: /lib64/libz.so.1: version `ZLIB_1.2.9' not found (required by /vercel/path0/node_modules/canvas/build/Release/libpng16.so.16)
09:21:08 | at Object.Module._extensions..node (internal/modules/cjs/loader.js:1122:18)
09:21:08 | at Module.load (internal/modules/cjs/loader.js:9

[2021-05-15 01:36] #166 closed

[2021-05-16 13:32] colbyfayock commented on #159
cool, did you want to take it up?

[2021-05-16 13:32] colbyfayock commented on #159
here's another way ive done it in the past https://github.com/colbyfayock/gatsby-starter-leaflet/blob/master/package.json#L64

[2021-05-17 18:38] GuilleAngulo commented on #159
Sure. If you like the idea, I can open a PR with an initial configuration and we can make the changes you think make more sense inside. What do you think?

[2021-05-18 14:49] Keshavdulal opened #168 "Slow page routing during development."
Dear Maintainers,
I recently began using this repo for a project of mine.
I tested the `production builds` at first.
The pages were 👌 blazingly fast with the Wordpress setup.
So I began to work on `development mode` and that's where I encountered very slow routing of around 4-6 seconds in average and even in incognito.

<img width="1680" alt="Screen Shot 2021-05-18 at 7 40 49 PM" src="https://user

[2021-05-18 15:02] Keshavdulal commented on #168
Additional Information.
I also tried the ["minmal version of this repo"](https://github.com/colbyfayock/next-wpgraphql-basic-starter).
It performed quite better with an average of around `1.3 seconds` for the same Wordpress setup.

Here are some snapshots.

<img width="1680" alt="Screen Shot 2021-05-18 at 8 43 57 PM" src="https://user-images.githubusercontent.com/16687310/118674970-f17b1280-b819-1

[2021-05-18 15:17] doingandlearning commented on #168
Hey - thanks for reaching out!

In production, a lot of the logic work that happens in getStaticProps is handled at build time. During development, this is refreshed during each Fast Refresh - so all of those lovely `Successfully created` messages are from quite a lot of heavy lifting when it comes to each refresh. Alongside that, the getInitialProps in `_app.js` is doing a lot of work.

I wonder

[2021-05-18 17:36] Keshavdulal commented on #168
@doingandlearning Thanks for clarifying that bit regarding `getStaticProps` and `getInitialProps`.
I am digging into them right now.

And even I wonder if there's a way to minimize such delays during development as that might be a deal breaker to use the starter for long term projects.

Hoping to hear from @colbyfayock as well :)

[2021-05-18 19:27] colbyfayock commented on #168
yeah @doingandlearning @GuilleAngulo and I were chatting about it a bit in my discord https://spacejelly.dev/discord

so a little context, we're currently using `getInitialProps` in a custom `_app.js` to grab globally available data as there really isn't any type of global data layer mechanism to do that right now, beyond adding those requests on each page in something like `getStaticProps`, and i

[2021-05-19 13:55] colbyfayock commented on #159
yeah that sounds great :)

[2021-05-20 21:17] #159 closed

[2021-05-20 21:25] colbyfayock commented on #168
hey @Keshavdulal just merged in some caching changes. would love to get your thoughts as to how you think that improves things. seems to be much snappier for me. i think the file generation improvements will help as well once they get in

[2021-05-22 08:19] Keshavdulal commented on #168
Great! Thanks @colbyfayock.I will check it out and let you know.

[2021-05-23 17:52] colbyfayock opened #171 "Use WordPress Setting for Posts per Page"
We can query for the configured posts per page set in the Reading tab in the admin via:
[code]

![image](https://user-images.githubusercontent.com/1045274/119271096-0961e600-bbce-11eb-99c4-02e1bdfa031c.png)

[2021-05-23 17:58] colbyfayock opened #172 "Configurable permalinks"
Currently we don't respect configured permalinks. I also noticed that if you don't set the parmalink to someting like Day and Name the pages don't actually work.

Can we support any type of permalink? how would that work? Can we query by uri or something?

[2021-05-23 17:58] colbyfayock commented on #162
not sure what happened but seems to work now

[2021-05-23 17:58] #162 closed

[2021-05-23 21:14] colbyfayock opened #173 "Use WordPress Admin "Site URL" if available instead of package.json"
Right now we're pulling the package.json to get the homepage, instead, try to get the wordpress site URL.

Some WP hosts seems like they lock the site URL, particularly AWS lightsail, so it would still "exist" but may not be right

should this be overrideable as an env variable? should we still have package.json support? similar, the package.json may "exist" but may not be updated

Should discuss

[2021-05-23 21:24] colbyfayock commented on #124
Moved the OG image directory to /public/images/og and made that location configurable inside next.config.js

https://github.com/colbyfayock/next-wordpress-starter/commit/d58b5c5bfc0555b6493e851c140c2d9710642c6f

[2021-05-23 21:24] #124 closed

[2021-05-23 21:32] colbyfayock opened #174 "Twitter card summary_large_image not working"
The tag is currently showing correctly as summary_large_image, but it's not getting pulled as such in the Twitter validator

[code]

![image](https://user-images.githubusercontent.com/1045274/119277296-d549ed80-bbec-11eb-9441-2faa1eb19bab.png)

[2021-05-23 21:40] GuilleAngulo commented on #171
hey! i was just taking look at this one. Do you think still makes sense to allow the user use `POST_PER_PAGE` variable at `next.config.js` overwritting this value? Probably the recommended is to query this value as single source of truth ... what do you think @colbyfayock?

[2021-05-23 21:45] colbyfayock commented on #171
yeah i think i agree with you, probably makes sense with WP being the single source of truth, especially because it's opt-in. we could always throw a warning if someone is currently using it after making this change and keep it in for a little bit

[2021-05-26 01:13] #151 closed

[2021-05-28 02:14] colbyfayock opened #178 "Compiler fails on fresh build when using npm"
When doing a fresh build using npm instead of yarn, the build fails due to the lack of public/wp-search.json

It seems like npm resolves the files a bit differently and it's not finding it when it hits it

![image](https://user-images.githubusercontent.com/1045274/119919662-e706fa00-bf38-11eb-8db9-7848e3546035.png)

[2021-05-28 02:16] colbyfayock commented on #178
some context here - i have ot use npm on the WP Engine Atlas deployment as it doesn't currently support yarn

im wondering if it makes sense just to move the file to a client-side request. i feel like it's been discussed before but kept it as an import

would help reduce the delivered site for bigger sites but of course wouldn't be _as_ speedy

since search is global though, if we load it in the h

[2021-05-29 01:36] GuilleAngulo commented on #178
Couldnt reproduce the error using npm ... I will try again tomorrow just for curiosity

I think that makes sense, once the file is created initializating Fuse on useEffect could work. Just wondering if there is any kind of delay on really big files, could worth making a test?

[2021-05-29 10:58] colbyfayock commented on #178
@GuilleAngulo did you both remove `wp-search.json` and use `npm build`?

[2021-05-29 10:59] colbyfayock commented on #178
definitely think its worth making a test. ill put something together to see what itl ooks like

[2021-05-29 17:27] GuilleAngulo commented on #178
Yeah, removed all plugins and installed via npm... maybe i'm missing something

[2021-05-29 19:49] colbyfayock commented on #178
yeah so weird and now all of a sudden im getting the same thing on netlify https://app.netlify.com/sites/next-wordpress-starter/deploys/60b28ac834d35a000760acbf not sure if you can see that

ill put together a POC, wont take long

[2021-05-29 22:27] GuilleAngulo commented on #178
I'm seeing the log...weird.. I kept trying to reproduce, deleting `.next`, `node_modules` and fresh install with npm but im getting no errors... I would say that it seems like something related to `jsconfig.json`, like is not getting that compiler options where the public folder is resolved... theoretically there is no need of an extra webpack configuration..

[2021-05-29 23:29] GuilleAngulo opened #184 "Saas deprecated operator"
### Description
While testing the build for #178, I found the following warning on console:

![shot_210529_191247](https://user-images.githubusercontent.com/50624358/120086680-602c5b80-c0b7-11eb-8b45-e16707711991.png)

It seems like this operator [has been deprecated](https://sass-lang.com/documentation/breaking-changes/slash-div) and the recommended operator in replace is [math.div()](https://sas

[2021-05-30 00:47] colbyfayock commented on #178
thats so strange... not sure. i put together a clientside solution though: https://github.com/colbyfayock/next-wordpress-starter/pull/181

curious if there's a bug beyond that though if you're thinking you see something

[2021-05-30 13:54] colbyfayock commented on #178
@GuilleAngulo im going to merge this in simply because i want to avoid the builds failing, but i'd love to get your feedback on it so i can retroactively make any tweaks if needed

[2021-05-30 14:26] GuilleAngulo commented on #178
hey, sure. I will take a look at it (if not today, will try this week)

[2021-05-30 16:58] #178 closed

[2021-05-30 17:05] #184 closed

[2021-06-01 13:14] colbyfayock opened #186 "Post canonical links are not showing"
Found an issue with canonical links showing up on post queries.

The query itself seems to be no longer returning the canonical links

![image](https://user-images.githubusercontent.com/1045274/120329349-c2ed4500-c2b9-11eb-8b0e-da1efb959447.png)

I created an issue over on the plugin's GitHub to see what  the problem might be.

https://github.com/ashhitch/wp-graphql-yoast-seo/issues/102

[2021-06-01 17:54] GuilleAngulo commented on #178
Hey @colbyfayock , finally I got to take a look, sorry for the delay. Here are some thoughs:

- Maybe it would be a good idea to move the `SearchProvider` from __app.js_ to inside the `Layout` component, wrapping the `Nav`. As this context is only used here for the search,  could be a good idea to reduce the scope only targeting this part of the tree. It would be a little improvement, but as I und

[2021-06-02 11:49] GuilleAngulo opened #189 "Update plugins to use Webpack Logger interface"
I noticed that Webpack has its own [logger api](https://webpack.js.org/api/logging/), that can also be configured for [verbose options](https://webpack.js.org/configuration/stats/#statslogging). Could be a nice enhancement since it has many options that could be helpful in the future, and it gets logging unified. Thoughs?

![shot_210602_084803](https://user-images.githubusercontent.com/50624358/12

[2021-06-02 12:08] colbyfayock commented on #189
sounds great to me!

[2021-06-04 18:43] #174 closed

[2021-06-05 02:31] colbyfayock commented on #178
## Rerenders

From my non-scientific poking around, i think we're safe with rerenders

I put a bunch of console logs on the tree of the homepage:

![image](https://user-images.githubusercontent.com/1045274/120877173-f9a9b080-c582-11eb-9038-0dbd275826d7.png)

My understanding is that only things that consume it, such as the Navigation, which uses useSearch and ultimately the context, will rerender.

[2021-06-05 19:38] GuilleAngulo commented on #178
**Re-renders**:  my mistake, you are absolutely right. I usually try to reduce the context at its minimum scope possible, so I ended up thinking it somehow can negatively affect the rest of the tree, but it only affects consumers 👍

**Search**:  I will check the PR and write you there directly 💪

**getInitialProps**: Yeah I tried but I couldn't reproduce it ... I'll try to search a little more abo

[2021-06-07 16:43] ffabiosales opened #194 "Possible hierarchical menu recursion to get all levels."
I've created a component <NavListItem>
![image](https://user-images.githubusercontent.com/1392528/121056628-c3437f80-c794-11eb-80e9-643ef8d841e3.png)

There i can check all wp menu item if it has children and show the submenu.

![image](https://user-images.githubusercontent.com/1392528/121057318-888e1700-c795-11eb-9b3e-e13733eb1ef5.png).

@colbyfayock.
Its working great here. i will make a PR

[2021-06-07 21:04] ffabiosales commented on #194
moved menu and child menu css to styles/globals.scss to make show/hide work.

[2021-06-07 21:40] ffabiosales commented on #194
#195

[2021-06-09 11:59] #171 closed

[2021-06-09 12:01] colbyfayock commented on #186
Looks like Yoast SEO hides the canonical links if you have the website set to discourage robots through the WordPress admin 😅  but flipping that fixed this.

[2021-06-09 12:01] #186 closed

[2021-06-09 12:04] colbyfayock commented on #172
Was chatting with Jason Bahl and he recommended that we avoid using the `slug` as an identifier when creating paths, something to consider during this work

See note on: https://www.wpgraphql.com/docs/posts-and-pages/#single-post-by-slug

[2021-06-09 12:05] colbyfayock commented on #168
Closing this, but feel free to reopen if it remains an issue.

[2021-06-09 12:05] #168 closed

[2021-06-09 12:10] colbyfayock commented on #157
fixed via https://github.com/colbyfayock/next-wordpress-starter/commit/f9ab2a9e14479f13514cdeb6895113e36886fcd0

[2021-06-09 12:10] #157 closed

[2021-06-09 12:12] colbyfayock commented on #12
don't think there is really anything additional that needs to be done with ACF as kind of alluded to above with it just being added to a query, and there's nothing really that would be baked in like Yoast, so probably not necessary

closing this and will instead open as people have ideas for plugin-specific implementations

[2021-06-09 12:12] #12 closed

[2021-06-09 12:15] colbyfayock commented on #6
I did some parsing in my spacejelly.dev site that can also use as inspiration:
https://github.com/colbyfayock/spacejelly.dev/blob/main/src/pages/posts/%5Bslug%5D.js#L128
https://github.com/colbyfayock/spacejelly.dev/blob/28cff627a9dbd1f31aee667944a9831328277a7d/src/lib/parse.js#L44

[2021-06-09 12:15] colbyfayock commented on #6
if any work here is done it should be in a way that makes it easy to add new configurations and transformations in a plugin-able way

[2021-06-09 12:17] colbyfayock commented on #32
would love to see some cypress tests too covering basic functionality, ideally things that someone wouldn't need to remove when cloning the site to avoid someone having to clean out a bunch of tests before getting started

we could theoretically make a query to WordPress and test page / post creation this way

* Get the posts
* check hte homepage shows the first several posts based on posts per pa

[2021-06-26 14:08] colbyfayock opened #203 "Design Updates"
Some updates I'd love to see:

- [ ] Typography and whitespace
- [ ] Blockquotes: should be a little more clearly distinguished from the rest of the content
- [ ] Images: should remove border and more cleanly integrate into article flow
- [ ] Image Captions: should be aligned with images
- [ ] WordPress Classes: should utilize default WordPress classes for stylistic content editing (ex: `.aligncen

[2021-06-28 22:34] Valid opened #206 "Pages without parents unsupported?"
After pointing next-wordpress-starter to an existing site, it populates everything as expected, but when I click on a 'page', it always results in the following error:
`Error: A required parameter (slugParent) was not provided as a string in getStaticPaths for /[slugParent]/[[...slugChild]]`

If I console.log `segments` out of the `getStaticPaths` function in `src\pages\[slugParent]\[[...slugChild

[2021-06-29 12:13] colbyfayock commented on #206
hey @Valid any chance the wordpress instance is public that i can debug with it?

The demo website has 2 top level pages that are being properly created:
- https://next-wordpress-starter.spacejelly.dev/docs/
- https://next-wordpress-starter.spacejelly.dev/about/

[2021-06-29 14:30] GuilleAngulo opened #207 "Plugins shared config"
### Description
When a config object is passed to a plugin, the following plugins will share same settings if no override is provided.

As example, for the following config:

[code]

All plugins will create files at `./public/search`, instead of creating at each default output directory as the config object is shared between them. It would be necessary to find out how to pass isolated objects and

[2021-06-29 18:23] colbyfayock commented on #206
after debugging looks like the issue is a private page isn't able to be queried resulting in the slug being undefined, which is throwing an error in Next.js when it's trying to resolve the array of paths

two things here:
- we need to update the page query to use URI for querying anyways, im not sure if that would resolve this, but generally something we need to do (per rec from Jason of WPGraphQL

[2021-07-06 11:07] tareq0065 opened #208 "Contents and posts are not updating"
After building and deployed to the vercel the contents and posts are not updating when I am creating new posts on WordPress. Do I need to build and deploy every time I create a new post?

[2021-07-06 11:40] colbyfayock commented on #208
hey @tareq0065 when using WordPress headlessly (and any other headless CMS) you need to make your hosting provider (Vercel) aware of the changes that you made, as there isn't any relationship between the 2 by default

you can use web hooks to do this by creating a Deploy Hook in Vercel:

https://vercel.com/docs/more/deploy-hooks

Then installing WP Webhooks:

https://wordpress.org/plugins/wp-webho

[2021-07-06 11:40] #208 closed

[2021-07-06 12:37] tareq0065 commented on #208
@colbyfayock Hey this is awesome. Thanks for your reply ........

[2021-07-06 15:27] colbyfayock commented on #208
here's a tutorial that uses Netlify in case it helps https://spacejelly.dev/posts/how-to-automate-deployments-on-content-change-in-wordpress-with-wp-webhooks-and-netlify/

[2021-07-14 01:01] colbyfayock opened #212 "getInitialProps makes 404 and search render as SSR"
We're using getInitialProps in _app.js to allow us to have a "global" data layer

Beyond the general recommendation to steer away from it to use newer methods, turns out if you use it and your page doesn't use any other data fetching method, it assumes SSR

We need to add simple stubs of static props on any pages not using any data fetching simply to turn on static generation for those pages

[cod

[2021-07-14 01:01] colbyfayock commented on #212
@GuilleAngulo this is why we were having issues with the 404 page

[2021-07-14 12:39] GuilleAngulo commented on #212
Oh thats a great discover! and at the same time somehow disappointing having to set this boilerplate for achieve that😞

[2021-07-18 05:23] CodMoncai opened #215 "Apollo error for Absolute URLs"
When I use your Repo and then add in my own Wordpress URL, I get an Apollo error for Absolute URLs, your repo has no one commenting on this, how can I fix this? I also get the same error when I put your own URL in

[2021-07-21 12:13] GuilleAngulo commented on #215
hey @CodMoncai could you please provide more details on the error? Sometimes absolute url errors on Apollo have to do with the url construction: `http://`wordpressite.com/graphql or `http://`localhost:[port]/graphql

[2021-07-27 10:30] ActivatedDigital opened #217 "HPE_INVALID_HEADER_TOKEN"
Hello, since the update of wordpress 5.8 it does not work anymore
we receive an error : HPE_INVALID_HEADER_TOKEN
"reason: Parse Error: Invalid header value char "
do you have an idea where it comes from?

[2021-07-27 17:03] colbyfayock commented on #217
hey @ActivatedDigital i just upgraded my own wordpress instance to 5.8 and i'm not able to reproduce the issue, can you provide more information or ideally a codesandbox where you're able to reproduce this?

[2021-07-29 08:40] leoloso opened #218 "Password-protected posts make the build fail: "Apollo Server: Internal server error""
Hi, I'm not able to start the starter, any help will be welcome.

I tried both `npm run dev` on the cloned source, and `npm run build` after running `npx create-next-app ...`, the error happens in both cases.

I installed a local WP site (PHP 7.4, WP 5.8), installed WPGraphQL (1.5.5), endpoint is working on `/graphql`, set it on `.env.local`...

I always get this error:

[code]

You can see it doe

[2021-07-30 18:03] colbyfayock commented on #218
do you only have `/graphql` as the environment variable? it needs to be the entire endpoint including the hostname

[2021-07-31 00:46] leoloso commented on #218
I have the entire endpoint

[2021-07-31 01:56] leoloso commented on #218
I found it! The build fails when there is a password protected post! Check this out:

![nextjs-issue](https://user-images.githubusercontent.com/1981996/127725264-e2e73e5a-3428-472f-829f-b88c5c90ac3d.gif)

[2021-07-31 02:55] colbyfayock commented on #215
hey @CodMoncai any luck on this?

[2021-07-31 02:56] colbyfayock commented on #218
ah good catch. i didnt expect that particular error for the issue, which is similar to: https://github.com/colbyfayock/next-wordpress-starter/issues/206

[2021-08-06 11:16] Keshavdulal commented on #168
_Pardon me coming back at this after so long.
Here's an update incase anyone comes across this._

## This is an issue with the nextjs framework itself.
[Here's an ongoing discussion on Github Issues](https://github.com/vercel/next.js/discussions/10949)

This slow routing issue has nothing much to do with this or any starter for that matter. I tried making one from scratch but faced the same issue.

[2021-09-06 08:48] DLevai94 commented on #166
@jahzlariosa did you solved this?

[2021-09-13 04:14] shawn-fetanat opened #234 "Imported class "title" from 'styles/pages/Home.module.scss' does not exist"
My linter complained about `styles.title` being a unresolved variable so checked out `styles/pages/Home.module.scss` since that's where `styles` was imported from and I noticed the class `title` doesn't even exist in the file. I think it's supposed to be `styles.description`. Correct if I'm wrong though.

`Home.module.css` is a very small file. This is what it looks like:

`Home.module.css`
[code]

[2021-09-15 13:47] colbyfayock commented on #234
hey @shawn-fetanat!

you can safely remove `className={styles.title}` from the homepage h1, i've removed this from the starter https://github.com/colbyfayock/next-wordpress-starter/commit/f209edebc938d538148407921202dd5a9153047d

the import of `@import "styles/settings/__settings";` is valid because the project uses a `jsconfig.json`
https://nextjs.org/docs/advanced-features/module-path-aliases
ht

[2021-09-15 13:47] #234 closed

[2021-10-01 01:58] #217 closed

[2021-10-01 02:02] #215 closed

[2021-10-01 02:03] #218 closed

[2021-10-01 02:04] #203 closed

[2021-10-03 14:58] petercr commented on #212
Hey Colby 🙋‍♂️
I would love to put in a fix for this issue.

It seems pretty straight forward, let me know if you want me to write up a PR for it 👍🏻

Thanks,

Pete

[2021-10-03 15:27] colbyfayock commented on #212
Go for it! All yours

On Sun, Oct 3, 2021 at 10:58 AM Peter Cruckshank ***@***.***>
wrote:

--
colbyfayock.com

[2021-10-04 13:58] #194 closed

[2021-10-04 15:32] colbyfayock opened #240 "Upgrade Husky to most recent version"
We're currently anchored on husky@4.3.8 due to the difference in the API

We need to upgrade to the most recent version and update the precommit scripts to follow the new method

Tutorial to help out: https://spacejelly.dev/posts/how-to-automate-code-linting-in-next-js-with-eslint-husky-git-hooks/#step-3-automatically-linting-during-development

[2021-10-04 15:39] colbyfayock opened #241 "Prevent webpack compilers from running on every page compile during development"
Currently our webpack compilers run on every page load which slows down performance a bit during development.

This doesn't impact production as it's statically compiled.

These plugins work by running at compile time to provide features like an RSS feed, OG images, and a sitemap

https://github.com/colbyfayock/next-wordpress-starter/tree/main/plugins

Ideally we can only run this when it will act

[2021-10-04 15:41] #111 closed

[2021-10-04 15:41] #4 closed

[2021-10-04 16:06] avneesh0612 commented on #13
hey @colbyfayock can I work on this with next-seo package?

[2021-10-04 16:09] colbyfayock commented on #13
hey! what did you haev in mind with using next-seo?

the original idea for the ticket was to work on top of https://github.com/colbyfayock/next-wordpress-starter/pull/91

where we're currently generating images for each post, but we're not generating images for any Pages which would also be handy

https://github.com/colbyfayock/next-wordpress-starter/blob/main/plugins/socialImages.js

im open to i

[2021-10-04 16:34] avneesh0612 commented on #13
Next-SEO is more useful IMO because it is not linked to any other components and is very easy to use.

[2021-10-04 16:57] colbyfayock commented on #13
I don't think I'm following, does Next-SEO generate social images automatically?

[2021-10-04 17:25] avneesh0612 commented on #13
Umm no, I meant you can pass in the metadata, and images very easily. You can even have dynamic data like the image cover probably

[2021-10-04 17:44] colbyfayock commented on #13
yeah this particular ticket is about generating the images like we're doing for the Posts in the links I added there

while Next SEO looks nice i dont know that it's adding anything that we dont already have if im not mistaken

im open to a different solution though if you think there would be a lot of benefit, I would open a new issue for that discussion though

[2021-10-04 17:46] avneesh0612 commented on #13
Ah okay, I will try to do with the existing way.

[2021-10-04 17:52] colbyfayock commented on #13
the way i would imagine the change happening would be to modify the data collection inside this file:

https://github.com/colbyfayock/next-wordpress-starter/blob/main/plugins/socialImages.js#L28

currently its getting all posts, where it should also get the pages

then inside of the pages template, it needs to reference that image similar to how it does in posts

https://github.com/colbyfayock/nex

[2021-10-04 18:31] IvanSanchezSalvador commented on #240
Can i work on this task?

[2021-10-04 19:26] colbyfayock commented on #240
all yours!

[2021-10-08 15:35] avneesh0612 opened #244 "Add a router progress bar"
As there is some data fetching happening, it can take a few seconds to push the user to reach that page. This is a simple fix, I can make a PR for that :)

[2021-10-08 16:07] colbyfayock commented on #244
great idea 👍

[2021-10-08 19:09] saurabhtopthon01 commented on #69
How about this mockup, https://www.figma.com/proto/gUrcSSVAH2vLnVK0Rx2tj5/Untitled?node-id=1%3A24&scaling=scale-down&page-id=0%3A1&starting-point-node-id=1%3A24

[2021-10-24 00:34] #16 closed

[2021-10-25 00:57] #240 closed

[2021-10-28 02:22] colbyfayock opened #271 "Library used to generate social images prevents package upgrades"
There seems to be issues with how the fabric dependencies work and using updated versions of node

See:
* https://github.com/colbyfayock/next-wordpress-starter/pull/266
* https://github.com/colbyfayock/next-wordpress-starter/issues/259

Seems like we can explore other routes such as using Playwright to generate the images on the fly.

We'd want to see how this performs compared to the current solu

[2021-10-29 19:52] nickcanarelli opened #274 "Failed to load next.config.js"
After cloning the repository I created and set my `.env.local` file, ran `npm i` then ran `npm run dev`. The server starts, env is loaded from `.env.local` however it immediately fails prompting me with the following:

[code]

[2021-10-29 22:30] colbyfayock commented on #274
hey @nickcanarelli what version of node are you using? `node -v`

[2021-10-29 22:56] nickcanarelli commented on #274
Hey @colbyfayock I ended up uninstalling node and downgrading to v14.0.0. Seems like that was the issue and we're up and running. Thanks for checking in!

[2021-10-29 22:58] #274 closed

[2021-10-29 23:33] colbyfayock commented on #274
ah gotcha, glad to hear you got it working!

[2021-11-04 08:08] arunsathiya commented on #143
I am running into the same issue on a fresh installation. I have ensured that the site is public and that the endpoint responds [similar to how it does here](https://github.com/colbyfayock/next-wordpress-starter/issues/143#issuecomment-808163100). Any pointers on how to troubleshoot next would be great, thank you!

My site is `https://arun.mystagingwebsite.com/graphql`

[2021-11-07 14:45] colbyfayock commented on #143
hey i just tried spinning up a new site and didn't have any issues locally 🤔

just to make sure, the env var should be:

[code]

![image](https://user-images.githubusercontent.com/1045274/140649836-72516a6d-8018-4fd3-a9fb-473ab999af93.png)

[2021-11-07 15:40] arunsathiya commented on #143
I didn't realize node version can have an impact. I was on 14.18.1 but I have updated to 17.0.1 now. However, I have a different issue related to canvas now:

[code]

I'll investigate how to fix this. Thanks for taking a look though, @colbyfayock!

[2021-11-07 15:57] colbyfayock commented on #143
try using 12.20.0 (the nextjs min node version), node-canvas via fabric is causing issues with node versions right now

i started working on https://github.com/colbyfayock/next-wordpress-starter/pull/272 to remove fabric to avoid this issue

[2021-11-07 16:46] arunsathiya commented on #143
Thanks for the pointer! `create-next-app` seems to require 12.22.0 or higher:

[code]

So, that eventually worked. 🎉

[2021-11-07 16:49] #271 closed

[2021-11-09 21:37] gaswirth opened #277 "@apollo/client needs version bump to 3.5"
Currently, `npm install` fails due to dependency problems with graphQL, which is set to use version 16.01. Currently, @apollo/client is set to `^3.4.16`, which seems to need graphQL 14 or 15. Setting @apollo/client to `^3.5` fixes this issue, since it allows for graphQL 16.

Errors when running `npm install`:
[code]

[2021-11-10 13:20] #277 closed

[2021-11-15 19:12] pdenissen opened #280 "How to set page as frontpage?"
Hi there,

I'm pretty new to Nextjs. This is a great starter point for getting into Nextjs combined with WP.
I am trying to set a page as the homepage. For this in WP there is this setting to set a static page as the frontpage.
When I do this, the homepage isn't changing.

If I click on one of my menu-items i'm getting the error:
`Error: A required parameter (slugParent) was not provided as a stri

[2021-11-15 22:52] mknee40 opened #281 "First load and get error Uncaught at new ApolloError"
Just followed instructions and installed the GraphQL wordpress plugin set the environment variable and then yarn dev. First page errors with

`Error: request to https://domain.com/graphql failed, reason: socket hang up
This error happened while generating the page. Any console logs will be displayed in the terminal window.
Call Stack
new ApolloError
`

Any ideas what's wrong?

[2021-11-15 22:58] mknee40 commented on #281
I just refreshed the page and now its fine! Not sure what went wrong.

[2021-11-15 22:58] #281 closed

[2021-11-19 01:34] colbyfayock commented on #280
hey @pdenissen the starter isn't configured to dynamically create a frontpage based on the wordpress setting, you would have to customize that yourself inside of Next.js by updating the `index.js` file like it seems like you were trying tod o

it looks like you have a menu item though that doesn't exist as a page?

[2021-11-20 21:53] diegoALCE95 opened #285 "Error after trying to install from Blog post example"
Hi, I used the command `npx create-next-app -e https://github.com/colbyfayock/next-wordpress-starter my-blog` from the blog post tutorial and this error showed up:

[code]

Seems like the error was from `husky install`

l'll try to reinstall to see what's going on.

Node version: v14.17.6
NPM version: 6.14.15

[2021-11-22 13:20] colbyfayock commented on #285
hey @diegoALCE95 thats a strange one, just tried myself on node 14.18.1 with no issues. did you ever figure it out?

[2021-11-23 02:13] kblizeck opened #286 "ISR with WPGraphQL Data"
I'm attempting to add incremental static regeneration (ISR) to the `[slugParent]/[[slugChild]].js` file in order to regenerate pages where the CMS content has changed.

ISR is triggered according to my build logs, but the page content never updates on the frontend after I've updated it within the backend of WordPress... maybe it's not recognizing the WPGraphQL data as having changed? Any help at a

[2021-11-27 14:52] pdenissen commented on #280
Hej @colbyfayock,
Thanks for your reply. Good to know that it's best practise to set it up myself.

According the error; when I don't set a frontpage in the wp-admin, than my links to my static pages are working fine. However, when I do set it to 'frontpage' than i'm getting the error when I click on one of the links in my menu.

If you need any specific information on this, let me know.

Thanks!

[2021-11-30 09:02] iorippi opened #291 "URL with posts/pages slug in double-byte character results in 404"
I'm using Japanese language which tends to use the letters like "あいうえお", and that is causing 404 error both for posts and pages. I haven't tried in other CJK language or some others that can't be covered in ASCII characters like Arabic yet, so this report is pretty limited.

![Screen Shot 2021-11-30 at 17 50 57](https://user-images.githubusercontent.com/10939446/144015253-60bbc034-5781-4538-9563-6

[2021-12-03 00:35] colbyfayock commented on #291
hey @iorippi interesting one! do you happen to have your wordpress instance public that i can spin it up? if you're still interested in actually fixing and putting together a PR, i'd be happy to at least try to point you in the right direction :)

if your WP isn't public, do i just simply copy those characters into the post title to reproduce?

[2021-12-03 00:43] colbyfayock commented on #286
hey! did you happen to try console.log'ing some of the data to see if you see the excepted changes?

i haven't tried this before with wpgraphql actually, i'l try to find time to take a look, but wondering if that can at least help start figuring it out. absolutely possible it's cached or something and not returning the new data? could also try manually making a query to the endpoint outside of the

[2021-12-03 01:32] kblizeck commented on #286
Hey @colbyfayock! Thank you for the reply - turns out it was a caching issue HA! I'm using ApolloClient and it was just returning the cached Apollo results instead of the new data. Had to tweak my caching keys, and changed a few to `network-first` and ISR appears to be working as expected. Closing as a non-issue!

[2021-12-03 01:32] #286 closed

[2021-12-03 02:07] iorippi commented on #291
@colbyfayock Thanks for heads up! Here's URL for GraphQL API: https://cms.appy.hiup.dev/wp/graphql
There are several Posts and one of them has slug in Japanese.

[code]

[2021-12-09 18:06] idpelago opened #297 "Wordpress Backend Update post, But Frontend Apollo Cache Remain Old Version"
when we updated a post in the wordpress admin panel, the changes are not showing up in the frontend site.
I think the issue come from apollo client's cache.

is there any ways to counter this issue, so we can immediately see the changes when we hit the update button on the wordpress admin?

Best regards

[2021-12-10 00:13] colbyfayock commented on #297
that looks like a similar issue to https://github.com/colbyfayock/next-wordpress-starter/issues/286

the last comment there has what their solution was, maybe give that a try?

[2021-12-10 03:14] idpelago commented on #297
Hi @colbyfayock, thanks for your reply!

Sure, I will give it a try :)

[2021-12-10 03:17] idpelago commented on #286
Hi @kblizeck would you mind to share how to solve this issue?

I cannot figure out how to use `network-first` as you mentioned.

any helps would be appreciated, thank you

[2021-12-10 09:26] henrikmotzkus opened #298 "Images cannot be loaded from /wp-content ..."
I'm very new to next.

Installed the next app on ubuntu 20 on windows subsystem for linux. Wordpress is running public (www.henrikmotzkus.de)

Images on posts coming from external sources are showing up okay. Images coming from /wp-content getting a 404.

Is my wordpress delivering images in a strange way? It seems the next app can't download them properly.

This is the response of an external ima

[2021-12-10 10:02] henrikmotzkus commented on #298
This is the browser console
<img width="942" alt="image" src="https://user-images.githubusercontent.com/22914078/145555843-e1712b57-d8e3-47e7-a873-08f8635150af.png">

[2021-12-10 12:43] colbyfayock commented on #298
@henrikmotzkus this starter doesn't do anything with the images that come from the WordPress content, they serve them "as is" meaning, if they're not working, there's likely an issue with the way the images are being served from your WordPress instance

[2021-12-10 13:01] henrikmotzkus commented on #298
@colbyfayock  Thanks for your quick answer. Yes indeed this is exactly my observation as well.

But what can potentially cause you app to not consuming the image properly? In order to change the backend behavior I need a hint to chase on.

Below html is generated through my wordpress instance. Is any tag hindering the image ingress? My wordpress template is doing a lot of formatting for responsive

[2021-12-10 14:08] colbyfayock commented on #298
@henrikmotzkus like i mentioned it's not doing anything with the images. the only thing i notice is the images are not using the full URL to the image, meaning, it will try to load the images from the host that the application is loaded from

example:
[code]

When using the first one, in any website no matter how it's built, it will default to try to use the host from where the website is coming f

[2021-12-10 14:08] #298 closed

[2021-12-10 14:20] skinnard opened #299 "Timing out"
Hey there, thanks for building this, super excited about trying this out.

The problem is, running the dev server it just hangs and never loads, and running a build just times out. Have you seen this before?

Here is the error when I run `yarn build`

Node: v14.16.1

[code]

[2021-12-10 22:21] kblizeck commented on #286
Hey @idpelago! Check out [Setting a Fetch Policy](https://www.apollographql.com/docs/react/data/queries/#setting-a-fetch-policy), and I misspoke above it's actually `network-only`, not `network-first`.

For example:
[code]

[2021-12-11 09:56] idpelago commented on #286
wow, thank you for your reply. Will give it a try :)

[2021-12-11 09:56] #297 closed

[2021-12-11 17:45] zr87 opened #300 "Maintenance mode (feature request)"
Hi!.
At some point, maintenance mode is a must-have anyway.
I'd like to kickstart a brainstorm on the topic of how this functionality could be implemented.

My first idea is:
1. add a WordPress plugin that adds a custom settings field for maintenance mode, as boolean.
2.  next app should query this custom settings field from WP (what would be the most efficient way to the query?)
3. if the setting

[2021-12-11 22:11] zr87 commented on #300
A concrete solution found in[ this article](https://www.jondjones.com/frontend/jamstack/configuring-error-pages-and-maintenance-pages-with-netlify-and-nextjs/)

[2021-12-12 22:48] colbyfayock commented on #300
hey @zr87 i wonder if it's worth pinging https://github.com/wp-graphql/wp-graphql to see if it's something queryable or that could be added

[2021-12-17 16:15] colbyfayock commented on #299
hey i haven't ran into this before, the only time ive seen issues is if the API that i'm requesting data from is hanging, but page creation shouldn't take taht long if you're not experiencing something similar with other nextjs apps

[2021-12-17 16:24] kevinctofel commented on #299
@colbyfayock I’m actually seeing the same thing on a local dev instance. FWIW, my site has nearly 900 posts. But it’s timing out after creating the first few .xml files; no posts or pages are created. Just hangs. Could be a different issue but wanted to mention. Cheers!

[2021-12-17 19:50] colbyfayock commented on #299
thanks for the heads up, ill see if i can repro. i need to find a bigger wordpress to test with!

[2021-12-17 19:52] skinnard commented on #299
@colbyfayock For the record I was never able to use the repo, everything just keep timing out and it was a fresh install with zero posts or data. Anyway thanks for looking into it, cheers!

[2021-12-17 20:02] colbyfayock commented on #299
@skinnard want to try using the demo site GraphQL endpoint to see if you still have issues with that? https://nextwpprod.wpengine.com/graphql

[2021-12-17 20:05] glenhodges commented on #299
@colbyfayock ya good call, Ill do that, cheers and thanks again.

[2021-12-20 13:24] touseefcodes opened #304 "Gives out err 'Error: EPERM: operation not permitted.'"
[code]
I am using Local by Flywheel for my Wordpress.  Can anyone guide me why this happens?

[2021-12-22 01:34] colbyfayock commented on #304
hey! thtas a strange one, but i dont think that has anything to do with the starter itself rather it looks like possibly a permissions issue for something Next.js is doing

have you been able to spin up other Next.js projects similarly?

[2021-12-23 11:53] AbdeladimSaouiss opened #306 "Add typescript support"
This project doesn't support typescript for the moment.

It would be great if typescript was added, since most of JavaScript project nowadays are built with typescript.

Can I take over it ?

[2021-12-23 13:43] colbyfayock commented on #306
hey @AbdeladimSaouiss i dont think that statement is true that most projects are typescript, but if you'd like to create a PR that introduces support, that sounds good. I'm however not looking to transform the entirety of the project to typescript so it would be minimal support

that said feel free to fork and make your own version with full typescript support!

[2021-12-23 13:44] #306 closed

[2021-12-23 13:44] #300 closed

[2021-12-23 14:02] touseefcodes commented on #304
i used `http://mysite.local/graphql` in the `.env.local` now, the page is not showing, although it is loading infinitely.

[2021-12-23 14:36] AbdeladimSaouiss commented on #306
@colbyfayock Noted, thank you

[2021-12-24 16:30] alexandruvisan19 commented on #304
also have a similar issue with it, same error

[2021-12-24 16:39] colbyfayock commented on #304
Do either of you see any activity in the terminal as it's loading? Such as compilation messages?

[2021-12-24 16:46] alexandruvisan19 commented on #304
![image](https://user-images.githubusercontent.com/79447321/147365323-5eee03c6-5f24-497b-bbee-eb7d5334f1e9.png)

[2021-12-26 19:12] ncosta40 opened #307 "Loading hanging"
The app is not loading after the project is created and `WORDPRESS_GRAPHQL_ENDPOINT` is configured.
It does not return any error, the browser page starts to load and doesn't stop.
First thought that endpoint url was wrong, but after install the basic version with the same configuration, it works.
Anyone with this problem?

My node version is: v14.17.4 (have 17.3.0 also installed but `npm run dev`

[2021-12-28 08:44] alexandruvisan19 commented on #307
I've also went to check the basic version and it worked with the same config.
With this version it get's stuck in infinite loading after the project was created.
![image](https://user-images.githubusercontent.com/79447321/147547045-f53e829b-296b-4bd1-b3a4-37ef9d6aa9d7.png)

[2021-12-31 16:20] touseefcodes commented on #304
![err colby-theme](https://user-images.githubusercontent.com/81577619/147832182-ae9b450d-526a-4360-b356-0492c8836b3a.png)

This is what Im gettinng... It stops there and I have to wait years for that.

[2022-01-06 17:32] cschurko opened #315 "Infinite loading issue persists"
When cloning the repo and running it it loads Infinitely still and you cant kill the project in the terminal because of that so you end up with the project trying to run on localhost:3000, 3001 etc as you are trying to debug and relaunch. I know this issue was raised a few days ago and it says resolved but the issue is still there.

[2022-01-11 12:06] #304 closed

[2022-01-11 14:44] colbyfayock commented on #304
@touseefcodes did you confirm @alexandruvisan19's fix is working for you now too?

[2022-01-11 17:53] touseefcodes commented on #304
@colbyfayock yes captain

[2022-01-13 15:10] speerdo commented on #315
Hello, I'm also trying to leverage this repo as a proof of concept and having the same issue. I assume it's because I have an enormous site I'm trying to pull data from but seeing all these others with the same issue concerns me. Any help would be appreciated and I really appreciate the work that was put into this starter bundle.

[2022-01-13 16:03] colbyfayock commented on #315
hey sorry to hear that, i haven't had time to look more into this

is there anything specific about your environment that's worth sharing? OS, browser, etc?

i just tried spinning up a new site and it worked okay

does it work using this endpoint? https://nextwpprod.wpengine.com/graphql

[2022-01-13 17:22] speerdo commented on #315
Hey thanks for the reply!

I'll give that endpoint a try. I'm using my work Macbook pro as well as a
linux distro called Pop_OS. Neither environment seems to work, but I will
try your suggestion.

Thanks again,

ADAM SPEER
AMTS Software Developer | Salesforce
Office: 317-719-4162
Mobile: 816-806-8831

On Thu, Jan 13, 2022 at 11:03 AM Colby Fayock ***@***.***>
wrote:

[2022-01-16 17:36] alexandruvisan19 opened #317 "sitemap and rss 404 errors"
Hi, any reasons to why there are sitemap and RSS console errors? I've seen this issue also happening on the example website.
![image](https://user-images.githubusercontent.com/79447321/149671157-ef567550-7660-4294-b247-2d4df4f73f52.png)
thx

[2022-01-17 15:36] colbyfayock commented on #317
hey nice find!

it looks like the issue is because the Next.js Link component will try to prefetch information on a page and I was using that <Link component to link to those 2 files, with the thought that they were still technically available on the same host

seems they should be treated as external links instead to avoid this lookup, about to push up a fix

[2022-01-17 15:45] #317 closed

[2022-01-17 15:48] colbyfayock commented on #315
any luck? i think mostly I'd like to see if it's an issue related to the wordpress site or if it's related to the environment, so given the demo site URL works on deployment on a few different services, if it doesn't work for you, that may be an environment issue? but hoping i can help debug regardless as it seems you're not the only one

[2022-01-24 04:50] urandombg opened #322 "Error: A required parameter (slugParent) was not provided as a string in getStaticPaths for /[slugParent]/[[...slugChild]]"
Hey, Folks!
I just clonned this starter project and tried to build it under windows, but compiler output these errors:

"C:\Program Files\nodejs\node.exe" C:\Users\urandom\AppData\Roaming\npm\node_modules\yarn\bin\yarn.js run wpe-build
yarn run v1.22.10
$ npm run build

info  - Loaded env from D:\Sites\2022\next-wordpress-starter\.env.local
info  - Checking validity of types
postcss-resolve-url: p

[2022-01-24 15:42] colbyfayock commented on #322
hey @urandombg is your wordpress instance public that I could try testing with it?

otherwise try adding this console.log statement before the return statement inside of `getStaticPaths` and see if it shows any results in your terminal

[code]

if not results it'll log `[]`

[2022-01-25 04:27] urandombg commented on #322
Hi @colbyfayock , thanks for your replay!

The URL is [https://www.dentaconbg.com/apix/graphql](url)

[2022-01-26 02:35] colbyfayock opened #324 "Reduce prop data sent on each page"
We're currently sending a dump of all data, we should be minimizing what we send to only what's needed for the page type

Example: https://github.com/colbyfayock/spacejelly.dev/commit/ff48c4bb77aadb32d69a8921567db73ec728d882#diff-dd527244dd5ec0ea4b814ba323b9a09c91fc40ba4cd2a64efbdeb0b0d3fabf8e

Can drastically reduce page size

[2022-01-27 14:35] cschurko commented on #315
Hey @colbyfayock - the endpoint you provided works for me. The endpoint I am using is a HUGE request with login permissions and such that I believe caused the infinite loading, so yes its more about my environment not yours. I cant use the template out of the box for this case, however it is an amazing starter I will be watching for smaller projects in the future. A lot of what you put together is

[2022-01-27 14:35] #315 closed

[2022-01-27 15:16] colbyfayock commented on #315
thanks @cschurko i'm working on reducing the work that needs to be done in this PR https://github.com/colbyfayock/next-wordpress-starter/pull/325

someone provided a separate endpoint that i ran into this issue when debugging something else, so im wondering if that will help fix the issue given it's a ton of data to process

sorry there's not a more direct fix, hard to tell what's happening, if it

[2022-01-27 15:59] colbyfayock commented on #322
start debugging this and notice that the page that's causing an issue is:
[code]

Notice the URI is `/` where all of the pages that get processed inside of `/src/pages/[slugParent]/[[...slugChild]].js`

it's not used to seeing the root i guess

did you manually set that? are you using any configuration that might have changed that?

we should be able to handle that as an issue but im curious what

[2022-01-27 19:28] urandombg commented on #322
Thanks @colbyfayock for your investigation! Yes, page is set from wordpress reading settings to be static, not to show latest posts.

[2022-01-27 20:29] colbyfayock commented on #322
awesome (that we found the issue haha), ill see if that's something im able to handle programmatically though im not totally sure on that one, if nothing else I can prevent it from failing and log a warning that it wont work

thanks for letting me know

[2022-01-27 20:29] colbyfayock commented on #307
hey @ncosta40 @alexandruvisan19 would either of you happen to have your homepage set as static instead of the blog posts?

i ran into a similar issue while debugging this https://github.com/colbyfayock/next-wordpress-starter/issues/322

wondering if it's the same issue 🤔

[2022-01-30 09:42] alexandruvisan19 commented on #307
Hey, I had it set to latest posts from the beginning.

[2022-01-30 15:59] colbyfayock commented on #324
Fixed by https://github.com/colbyfayock/next-wordpress-starter/pull/325

[2022-01-30 15:59] #324 closed

[2022-02-03 20:21] colbyfayock commented on #274
Next.js requires 12.22.0

https://nextjs.org/docs/getting-started#system-requirements

[2022-02-28 14:52] colbyfayock commented on #322
ohhh thats interesting, any interest in putting together a PR to see how that would look? @palespectre

[2022-03-03 14:21] pierrec-dahive commented on #322
Sure @colbyfayock, I'll give it a shot

[2022-03-03 14:23] palespectre commented on #322
Sure @colbyfayock, I'll give it a shot

[2022-03-04 07:02] vincent-roye opened #341 "Error when a category is selected in only 1 post (no other post shares the same category)"
Server Error
TypeError: Cannot read properties of undefined (reading 'posts')

This error happened while generating the page. Any console logs will be displayed in the terminal window.
Source
src\lib\posts.js (330:28) @ getRelatedPosts

  328 |   }
  329 |

      |                            ^
  331 |     return related.posts.slice(0, count);
  332 |   }
  333 |

[2022-03-09 03:10] colbyfayock commented on #341
@vincent-roye is your wordpress instance GraphQL endpoint publicly available to use for debugging?

i'm not immediately seeing how the code could get that error given related should exist at the top of that block

[2022-03-14 09:51] vincent-roye commented on #341
@colbyfayock no it isn't but I solve the issue by modifying:

**src\lib\posts.js:

Line 330:**

  if (Array.isArray(related.posts) && related.posts.length > count) {
    return related.posts.slice(0, count);
  if (related) {
    if (Array.isArray(related.posts) && related.posts.length > count) {
      return related.posts.slice(0, count);
    }
  }

and **\src\pages\posts\[slug].js

Line 151:**

[2022-03-20 22:04] shivkashyap opened #346 "TypeError: Cannot destructure property 'category' of '(intermediate value)' as it is undefined."
Hi Colby,

I have fresh install of both Nextjs and WordPress with fakerpress created content. I am getting this error whenever I click on a post title.
=====================
Server Error
TypeError: Cannot destructure property 'category' of '(intermediate value)' as it is undefined.

This error happened while generating the page. Any console logs will be displayed in the terminal window.

![image](

[2022-03-20 22:50] shivkashyap commented on #346
I think it is fixed. That particular post didn't have any category selected. Once Uncategorized is selected the error went away

[2022-03-20 22:50] #346 closed

[2022-03-30 11:39] vincent-roye opened #348 "Submenus aren't displayed"
In the latest version of WordPress, the header navigation can be edited from the editor. The standard menu editor is gone. I'm afraid the current version of the code just displays all the pages. I need to add nested items.
Up to What wordpress version is the old menu editor compatible with the Next.js app?

[2022-03-30 18:30] abbasahmad commented on #274
Always the same issue:
![image](https://user-images.githubusercontent.com/8807863/160906049-92caa207-1677-4bde-8eb7-cb5c7deb0702.png)

[2022-03-30 18:47] colbyfayock commented on #274
@abbasahmad is this related to this Starter? your error is stating that it's missing a specific commerce module that isn't related to this project

[2022-03-30 19:04] abbasahmad commented on #274
Indeed. i got confused with all the different gitHub issues i had opened.

my apologies!

[2022-03-31 03:41] vincent-roye commented on #348
My bad, I selected the wrong theme.

[2022-03-31 03:41] #348 closed

[2022-04-06 11:01] ddvdigital commented on #307
Had the same issue with the hanging... Found out it was caused by a secondary menu I had created for the footer.  Once I removed the 'display location', I was able to get it running.

[2022-04-06 13:13] colbyfayock commented on #307
oh strange - were you able to tell if it was an issue with the code or if it was a WP request issue?

[2022-04-14 14:17] #341 closed

[2022-04-20 16:28] eliawk opened #354 "Get 404 on pages"
Hello,
everything work fine but if I visit any pages I get a 404.
Posts, categories,... everything else is working correctly.

![Schermata 2022-04-20 alle 18 27 56](https://user-images.githubusercontent.com/362016/164278486-fe7b5f0e-0212-4cf8-a719-486418bcbb62.png)

[2022-04-21 09:49] eliawk commented on #354
@colbyfayock I've fixed removing the baseurl form the uri:
[code]
how did you make this working without this fix?

[2022-04-26 19:20] eliawk commented on #322
@palespectre It wouldn't be possible to just filter the page set as a static home page with the '/' uri from the graphql query?
in this case you shouldn't need to modify anything in the [[...slugChild]] file

[2022-05-01 15:19] huynhtan1808 opened #358 "Documentation for modifying data nodes and UI"
Hi, I really want to display the post's Featured Image in Post Card. Does anyone have any idea?

Thank you.

[2022-05-02 12:48] colbyfayock commented on #358
hey @huynhtan1808

you can copy this component into the post cards: https://github.com/colbyfayock/next-wordpress-starter/blob/main/src/pages/posts/%5Bslug%5D.js#L77

then you need to make the data available for each instance of the card

for the homepage you can do that by updating:

https://github.com/colbyfayock/next-wordpress-starter/blob/main/src/pages/index.js#L63

to be:
[code]

Or you can

[2022-05-02 14:46] colbyfayock commented on #354
hey i'm not really sure about this one? could it be a custom setting you have for permalinks or how URLs are returned? haven't seen this issue before

[2022-05-02 14:51] huynhtan1808 commented on #358
Work like a champ, thank you so much

[2022-05-03 07:31] eliawk commented on #354
@colbyfayock yes it was my fault. I've had this:
[code]
in order to change the links from the WP be, but this affects also the uri in the grapqhl queries.

[2022-05-06 11:18] colbyfayock commented on #354
ah thanks for sharing, glad you were able to figure it out! is this something that can be avoided in the starter? i tend to think that's a custom feature that wouldn't make sense in the starter beyond this issue that people can search for. thoughts?

[2022-05-17 13:35] MichaelSpect opened #364 "No CSS render on any live page"
Hello
I have used this starter to build a site.
After deploying it on Netlify live site doesn't render css. Looks like it's without any style.
https://merry-fenglisu-d1b5fa.netlify.app/

After that, I have test new clone of next-wordpress-starter (and just change WORDPRESS_GRAPHQL_ENDPOINT) and the results is the same after deployment. No CSS render on any live page!
https://silver-speculoos-e5340

[2022-05-17 16:36] 2xSamurai commented on #307
@colbyfayock I am also facing the same issue.

Added a new menu location inside functions.php and localhost:3000 gets stuck at infinite loading. Removing it fixes the infinite loading. But when I query menus inside GraphQL IDE I still see 2 menus.

Dug a little deeper and found the following.

I tried this query "QUERY_ALL_MENUS" inside graphQL IDE as well. It spits out

[code]

when I remove "loc

[2022-05-18 01:16] colbyfayock commented on #364
that's a strange one, do you have the Essential Next.js Plugin installed?

[2022-05-18 07:28] MichaelSpect commented on #364
Hello Colby,

I continue to investigate the matter.
Yes, I had Essential Next.js Plugin installed.
The same repo I deployed on Vercel and works well.
https://dumident-next-js-wp.vercel.app/

This was a standard Next JS build.

After that, I tried Next static export (with "out" production folder) on
Netlify, but I had to uninstal Essential Next.js Plugin.
In this scenario Next-Wordpress-Starter wor

[2022-05-23 16:47] colbyfayock commented on #364
if you run `yarn build` or generally `next build` in the project locally do you get any errors or anything weird looking?

[2022-05-23 16:51] colbyfayock commented on #280
@jonnymaceachern for the page template, you can take an approach similar to what i did with Archives, where you can create a Page template and use it as a component

https://github.com/colbyfayock/next-wordpress-starter/blob/main/src/templates/archive.js
https://github.com/colbyfayock/next-wordpress-starter/blob/main/src/pages/posts.js

[2022-05-23 16:55] colbyfayock commented on #307
hey @2xSamurai not sure what you're asking for help with - the query itself throws an error? I'm not sure how to help with that one, I would recommend trying to see if you can find a similar issue on the WPGraphQL repository or if not, create a new issue there

[2022-05-26 07:59] MichaelSpect commented on #364
Locally built runs well and everything looks good.

I stopped to investigate the problem with the Netlify build. I set it up to
work well with export and all static pages.
https://merry-fenglisu-d1b5fa.netlify.app/

Thanks for the support and starter project. I like it a lot. :)

On Mon, 23 May 2022 at 18:47, Colby Fayock ***@***.***> wrote:

[2022-05-27 06:42] huynhtan1808 opened #370 "Category Archives page only show 10 posts and no Pagination"
Hi, I recently found out that the Categories Archives page only shows 10 posts and does not have pagination. Can you check it?

Bonus: How Can I make Featured images show in Related Posts?

[2022-05-28 19:13] colbyfayock commented on #364
awesome, glad to hear that, gonna close this, but if you figured out what the issue was I'd still be curious to hear what it is!

[2022-05-28 19:13] #364 closed

[2022-06-06 15:19] colbyfayock commented on #370
hey will look into the 10 posts issue, thanks. for the UI check out my comment here:

https://github.com/colbyfayock/next-wordpress-starter/issues/358

[2022-06-07 13:55] eliawk commented on #307
@2xSamurai @colbyfayock I have the same loading issue. If I use just **one menu** everything works fine, If I'll create **another one** (for the footer) the app stil loading because there is some infinte loop I'm looking for.

[2022-06-08 02:40] chalisoftware opened #376 "Not updating a new post when I publish it on WordPress"
When I create new posts in WordPress, the app doesn't update new posts. I waited a few days and still no update. I don't know where the problem is. Hope someone can help me.

[2022-06-25 12:08] defser opened #379 "Feature: Support for On Demand Revalidation"
Adding  support for On Demand Revalidation

https://ramonmetzker.dev/nextjs-on-demand-revalidation-with-wordpress

It is possible to revalidate a post on demand, someone willing to work on this?

[2022-06-25 12:08] defser commented on #376
See https://github.com/colbyfayock/next-wordpress-starter/issues/379

[2022-06-25 12:13] defser commented on #376
Only option you have at this moment is adding `revalidate: 60` to all getStaticProps() in the repository.

example:
src/pages/posts/[slug].js
replace
`  return {
    props,
  };`
with
`  return {
    props,
    revalidate: 60,
  };`

[2022-06-28 14:34] DaanKetelaars opened #380 "Error: A required parameter (slugParent) was not provided as a string in getStaticPaths for /[slugParent]/[[...slugChild]]"
When visiting a page I keep getting this error. I looked through other issues, but could not find a working solution. Quite curious what the problem is. This is my getStaticPaths in [[...slugChild]].js. Any help would be appreciated!

[code]

[2022-06-28 15:24] DaanKetelaars commented on #380
I changed

[code]
to

[code]
this seems to be working, not sure if this is the right solution.

[2022-06-29 04:05] tuanictu97 opened #381 "Feature: Support for i18n"
Adding support for i18n. Multi content with language return from backend wp.

[2022-06-29 12:44] colbyfayock commented on #381
hey! do you have an example of this would work in a generic way? meaning, so that it wouldn't break existing sites. I'm also haven't created a site supporting this with WordPress before so curious how that looks

[2022-06-29 20:51] randysmachado opened #382 "Local WordPress Instance - ApolloError: Internal server error"
Hi, I'm not able to start my project.
can anybody help me?

I added the GraphQL URL as shown in the tutorial, but there is an error that I couldn't identify.

I'm using WordPress Version 6.0, PHP 7.4.1, Web server nginx.

When I run `yarn dev` the following error occurs

[code]

![error-colby](https://user-images.githubusercontent.com/25080392/176541410-c62bf077-b446-4379-bc4a-a2b355f80cb1.png)

[2022-06-30 07:25] colbyfayock commented on #382
hey if you go to that URL in your browser, do you get a GraphQL error? basically to test that it's the right endpoint.

looks like the endpoint is .local which i suspect is a local environment? i haven't tested this on a local WP installation before so not sure how that works if that is the case

[2022-06-30 10:37] randysmachado commented on #382
Yes, in the browser the GraphQL URL works the error appears.

I'm using WordPress with Local by Flywheel.

Funny, I tested it with your other basic boilerplate [https://github.com/colbyfayock/next-wpgraphql-basic-starter](https://github.com/colbyfayock/next-wpgraphql-basic-starter) and it worked.

But I wanted to use this project that is already very complete.

![graph-error](https://user-images.g

[2022-07-05 14:26] colbyfayock commented on #379
is this something that would cause any issues for people not using it?

[2022-07-05 14:30] colbyfayock commented on #376
hey @chalisoftware the solution depends on where you're deploying

You do have the option of using the revalidate capability, but another solution is to trigger a new deploy when adding new posts

you can use tools like [Netlifypress](https://wordpress.org/plugins/deploy-netlifypress/) or other WordPress hook-based plugins to trigger on different events

[2022-07-05 14:31] colbyfayock commented on #380
Actually it looks similar to this right? https://github.com/colbyfayock/next-wordpress-starter/issues/322

[2022-07-05 14:32] #380 closed

[2022-07-16 00:22] eibrahimov commented on #382
Hi, I am stuck on this issue. But I deploy WordPress remote host with an SSL domain. Issue exit.
What are you supposed to do?

[2022-07-18 15:15] colbyfayock commented on #382
@eibrahimov if you're hititng a remote source, typically you'll see that error if you do not have your environment variable properly configured. make sure you have `http` or `https` in front of the URL pointing to the GraphQL endpoint

Example: `https://myendpoint.com/graphql`

[2022-07-21 18:11] colbyfayock commented on #307
thanks @eliawk  - put it in a PR, anyone up to see if it fixes their issue?

https://github.com/colbyfayock/next-wordpress-starter/pull/388

[2022-07-22 13:16] huynhtan1808 commented on #370
Sorry but when I add the FeaturedImage component to the single post page, it shows the post's featured image not related post's image

[2022-07-24 11:59] Mridul2820 opened #390 "search index, sitemap.xml and feed.xml are not updating after publishing new post!"

[2022-07-24 14:29] colbyfayock commented on #390
hey @Mridul2820 - you need to trigger a new deployment for your project as the sitemap.xml and feed.xml are both generated during build. this is something outside of the scope of the starter

[2022-07-24 14:29] #390 closed

[2022-07-26 14:23] #382 closed

[2022-07-26 14:23] #381 closed

[2022-07-26 14:24] colbyfayock commented on #379
closing this as it's something anyone can add to their page configuration by simply defining it in `getStaticProps`

tutorial: https://www.youtube.com/watch?v=_isECpf3-8s

[2022-07-26 14:24] #379 closed

[2022-07-26 14:24] #358 closed

[2022-07-26 14:35] #322 closed

[2022-07-26 14:35] #354 closed

[2022-07-26 14:36] colbyfayock commented on #299
closing this issue, let me konw if you're still seeing issues and are able to identify any info about what may be causing

[2022-07-26 14:36] #299 closed

[2022-07-26 14:36] #285 closed

[2022-08-06 20:53] petercr commented on #241
Hey Colby 👋  is this still an issue that needs to be worked on?
It seems like it's from a while ago 😅

Anyways let me know 👌

[2022-08-08 12:48] colbyfayock commented on #241
yup still a problem!

[2022-08-15 20:23] petercr commented on #241
Okay thanks. I just wanted to check in first and make sure before I spent any time on the issue.
But I guess now I'm free to jump in and see what the heck is going on 🤪

I'll let you know what I come up with 👍

[2022-08-17 14:18] colbyfayock commented on #241
aweosme sounds great. im also pretty open to new solutions around the entire plugin chain here. @GuilleAngulo and i worked on it a while back as something that we were hoping would be easy to fit in new capabilities without having to rely on package.json-based scripts which wouldn't actually fall into the build process and may potentially get skipped? (not sure if that's a valid concern)

i'd also

[2022-08-26 21:03] petercr commented on #241
So I finally got to give this code a good look over 👀 and think about it.
After looking through some Webpack docs, I came across this method: [recordsPath](https://webpack.js.org/configuration/other-options/#recordspath)

Here's the info on it:

Hopefully that could give us a reference point to check the builds against, allowing for the build to be skipped if needed.

I'm going to play around with

[2022-08-29 22:02] petercr commented on #241
Hmm I don't know the answer to that, but I'll look into it 👀

Also I haven't _quite figured out_ how to get it working yet 😂
It seems to run the command, but no records file is being generated.

[2022-09-06 17:07] vikiyev opened #405 "Image caption not centrally aligned, image is squished when resizing"
Currently out of the box, image captions are not aligned with the image. This was mentioned in #203 , but I'm not sure if this was fixed or was left. Also, when resizing the page, images loses its aspect ratio, as seen in the 2nd screenshot

![Screenshot 2022-09-07 010333](https://user-images.githubusercontent.com/60604762/188696986-51c009bf-827f-445c-9540-82328a3764e5.jpg)
![Screenshot 2022-09-07

[2022-09-06 17:22] demiglace0505 commented on #405
The featured image works properly, only those images that are added using the image block are having the issues above.

[2022-09-06 19:38] colbyfayock commented on #405
hey @demiglace0505 any interest in putting together a PR?

[2022-09-07 12:48] demiglace0505 commented on #405
Hi, sorry I haven't found a fix yet so I can't make a pr for now

[2022-09-07 14:37] #405 closed

[2022-09-09 06:58] huynhtan1808 commented on #370
@colbyfayock Hello, Can you please check the 10 posts in the Category page?

[2022-09-11 00:21] petercr commented on #241
Hey Colby 👋  thanks for the link 👍
I checked it out, and found a list of the official swc plugins.
[Link to the list of SWC plugins](https://github.com/swc-project/plugins)

Here's the list:
- [`emotion`](packages/emotion)
- [`jest`](packages/jest)
- [`relay`](packages/relay)
- [`styled-components`](packages/styled-components)
- [`styled-jsx`](packages/styled-jsx)
- [`transform-imports`](packages/

[2022-09-11 15:39] colbyfayock commented on #241
ah okay so you can't make a custom one? i guess that's where my mind was going, a custom plugin, kinda like we were doing for webpack, but maybe that's not the right route

caching sounds like a great strategy! especially if that's a common approach

totally open to seeing what you come up with, just hoping to avoid slowing down dev with the processing each time

if going the caching route, wonder

[2022-09-12 23:41] colbyfayock commented on #241
thought just come to mind, should we by default disable these from running on development? that's common isnt it?

a caching solution would totally be nice, but wondering if that would make more sense

we could add an npm script to manually trigger them to test and an environment variable / flag to enable / disable

only other thought is not all of them should be disabled though. Search for instan

[2022-09-15 01:12] petercr commented on #241
Nice well I think that would be an easy way to fix the problem! 😂
I mean sure I think it's common to disable running extra stuff in development.
You **know** how us devs love our ***fast refresh!*** 🚀

We could disable the ones we don't want running on the dev server and keep the ones we do want.
On that note, we could also declare some kind of variable like `hasRun` to hold the states of the plug

[2022-09-16 13:50] colbyfayock commented on #241
that sounds good to me! let's give it a shot

[2022-09-27 07:51] DasMergo opened #411 "NavListItem - Cannot read properties of null"
getting this while using **npm run dev**

error - TypeError: Cannot read properties of null (reading 'includes')
    at NavListItem (webpack-internal:///./src/components/NavListItem/NavListItem.js:25:24)
    at renderWithHooks (C:\Users\DasMergo\wpjs\nasr\node_modules\react-dom\cjs\react-dom-server.browser.development.js:5658:16)
    at renderIndeterminateComponent (C:\Users\DasMergo\wpjs\nasr\nod

[2022-09-28 12:49] colbyfayock commented on #411
is your graphQL endpoint publicly available? that unfortunately doesn't give much info to try to debug

[2022-10-04 10:01] Ambareen09 commented on #69
Hey, if this issue is still relevant, I'd like to work on this.

[2022-10-04 10:08] Azanul commented on #44
@colbyfayock I'll take this up if no one else is working on it. Also, I think this issue should be split in two as there could be too many changes at once.

[2022-10-04 10:34] colbyfayock commented on #69
@Ambareen09 sure that would be great! let me know if you have any questions

[2022-10-04 10:36] colbyfayock commented on #44
@Azanul sounds good to me! would love to hear your thoughts then before moving forward including the work that needs to be done and what you see as the 2 issues

[2022-10-05 15:03] Aatmaj-Zephyr opened #412 "Make a workflow for automatic formating"
Make a GitHub workflow which will format all files when pucshed to the main branch.

[2022-10-05 15:03] Aatmaj-Zephyr commented on #412
Pls assign me this issue for hacktoberfest

[2022-10-05 15:32] colbyfayock commented on #412
thanks @Aatmaj-Zephyr - though I prefer formatting to happen precommit

this is currently set up to happen using husky, but I welcome any ideas for improvements

https://github.com/colbyfayock/next-wordpress-starter/blob/main/.husky/pre-commit

[2022-10-06 03:03] Aatmaj-Zephyr commented on #412
This action can be used as workflow- https://github.com/marketplace/actions/prettier-action

[2022-10-06 11:12] colbyfayock commented on #412
Right but this would still happen on GitHub and apply a new commit in the automation correct? So it's still not happening precommit

[2022-10-06 11:24] Aatmaj-Zephyr commented on #412
Yes

[2022-10-06 12:30] colbyfayock commented on #412
Closing this for now as I don't currently have any intent on running formatting in an Action. Thanks for the idea though.

[2022-10-06 15:44] colbyfayock commented on #69
@Ambareen09 check these tutorials out:

https://spacejelly.dev/posts/how-to-create-a-headless-wordpress-blog-with-next-js-wordpress-starter/
https://www.youtube.com/watch?v=X8fY011u0tE

[2022-10-06 16:19] Ambareen09 commented on #69
Do I have to create a random WordPress site, to be able to start configuring the plugins, in the tutorial, there is a mock site they're already working on?
Also, do I have to pay for WordPress to create a site?

[2022-10-06 21:41] colbyfayock commented on #69
you could try using a local wordpress instance: https://localwp.com/

there's also a service to spin up a temporary one but i can't find it right now, ill comment back if i find it

[2022-10-07 00:18] petercr commented on #241
Hey Colby, sorry it took me _so long_ to get back to you on this issue.
I had some personal issues come up that needed taking care of 😅

Anyways, so I tried coming up with 2 different solutions to fix the issue.
The first solution was what we had discussed using a boolean to hold the state of whether the plugins have run.
Here's the branch on my fork if you want to check it out: [fix-webpack-compi

[2022-10-07 00:39] colbyfayock commented on #241
ah i hope everything is okay, no worries, no rush, and at least if you get in a PR it'll be good for Hacktoberfest :)

i'll try to take a look sometime between tomorrow and early next week, will be a busy weekend for me

thanks for looking into it

[2022-10-09 15:30] Azanul commented on #44
@colbyfayock I meant 2 PRs as there can be many changes.

[2022-10-09 15:33] colbyfayock commented on #44
Got it, I would still like 2 issues to have concise details around the problems each are solving so that we're not creating 2 PRs for the sake of creating 2 PRs

[2022-10-14 16:39] colbyfayock commented on #44
from what i understand i think thats part of it. i was also under the impression there would be more attributes than classes, such as "roles" and such, but i haven't looked too deeply into it

[2022-10-14 17:01] Azanul commented on #44
You mean adding `rel` attribute?

[2022-10-14 17:14] Azanul commented on #44
Let's divide it in either of these two ways:
1. per component
2. all components per required task (i.e., `rel` attribute and class name)

[2022-10-14 17:18] colbyfayock commented on #44
i don't think it makes sense to create a new PR for every component, but if you'd like to break up the work another way, such as one for pages and one for components, I'm open to that

[2022-10-14 17:19] Azanul commented on #44
Not one PR for each component but one for half of them and another for other half

[2022-10-14 17:25] colbyfayock commented on #44
let's do pages vs components as that sounds a little bit like a more logical difference

/src/pages
vs
/src/components

that sound good?

[2022-10-14 17:25] Azanul commented on #44
By vs you mean one PR for pages and one for components right?

[2022-10-14 17:28] Azanul commented on #44
Let me take up components then

[2022-10-14 17:38] colbyfayock commented on #44
yup, sounds great

[2022-10-18 09:29] SarojWasti opened #418 "CONTRIBUTING.md documentation errors"
There are many typos and punctuation errors throughout the [contributing.md](https://github.com/colbyfayock/next-wordpress-starter/blob/main/CONTRIBUTING.md) doc which I would like to fix.
Like instead of `please be description`, it should be `please be descriptive`.

[2022-10-18 13:14] colbyfayock commented on #418
thanks for the heads up but I'm not accepting minor typo fixes as contributions

[2022-10-18 13:14] #418 closed

[2022-10-19 21:30] petercr commented on #241
Hey Colby, I totally thought I replied to this earlier whoops 😅
Yes everyone is fine, however, right after I finished working on these tasks I went and dropped my parents off for their flight to SW Florida.

Which was 2 days before hurricane Ian just smashed into SW Florida! _[For the records I said they should wait to go 🙄 ]_
Then they got stuck on the barrier island where they live for 6 days! W

[2022-10-22 18:11] petercr commented on #241
Thanks yeah it was an ordeal for for but just us, but the family's of the 1,000s of other stranded people too 🙏🏻

I will go ahead and push up that first PR, and you can look it over.

And I'll send over a message on Twitter or discord or something 👍🏻

[2022-10-31 07:51] theritikchoure opened #422 "Add Pull_Request template and Issue template"
If these files are important for this repository, then I can add these in order to complete the community profile of the repository.

![image](https://user-images.githubusercontent.com/56495602/198957927-04d78c50-cc01-4df8-9d3a-412f193d15a9.png)

[2022-11-05 01:50] #422 closed

[2022-11-24 09:33] amrjabir opened #435 "ask redirect to other link based on referrer"
hello i'm deploying on vercel
i need to redirect user comes from facebook to my post slug
to other domain name with the same slug

[2022-11-25 01:57] colbyfayock commented on #435
hey @amrjabir this isnt the right space to ask broad Vercel / Next.js questions as an Issue, but here are a few things you can look into

https://nextjs.org/docs/api-reference/next/router
https://vercel.com/guides/does-vercel-support-permanent-redirects#in-application-redirects

[2022-11-25 01:57] #435 closed